<a href="https://colab.research.google.com/github/mariaeco/Projeto_IntroducaoCienciasdeDados_UFPB/blob/main/ProjetoICD_OrganizacaoDadosTemporal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#**ORGANIZAÇÃO DOS DADOS DE TODAS AS EDIÇÕES DO ENEM**

Notebook para Organização dos dados temporais. 
Seleção de Variáveis, Renomeação.
Os nomes e quantidades de variáveis mudam a dada edição do Enem.

Os dados do Enem são fornecidos por ano no site do [INEP](https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados). Realizamos o download de todas as Edições e separamos os dados da Paraíba [Separacao_dados_PB] (https://github.com/mariaeco/Projeto_IntroducaoCienciasdeDados_UFPB/blob/main/ProjetoICD_Separacao_dados_PB.ipynb).

Agora, neste arquivo, juntamos todos os dados de todas as edições da Paraíba em um único arquivo. Para tanto, foi necessário percorrer cada ano, verificando os nomes de cada variável e também seus contéudos, pois para diversas variáveis o conteúdo é diferenciado. Removemos variáveis que não vamos utilizar por enquanto. Padronizamos os dados de todas as Edições, e criamos 2 arquivos:

1) ENEM_PB_1998-2019.csv
2) ENEM_POR_ESCOLA_PB_1998-2019.csv

Este último é o resultado da média por escola, diminuindo o tamanho do banco de dados. Não trabalhamos mais com indivíduos, mas com a escola como o indivíduo.\

\
*LISTA DE VARIÁVEIS QUE VÃO ENTRAR E SUAS MODIFICAÇÕES:*

**Gerais**:\

    *Pessoal*:

        'NU_INSCRICAO', 
        'NU_ANO', 
        'NU_IDADE'    (entre 2011 a 2014: IDADE)
        'TP_SEXO', 
        'TP_COR_RACA' (a partir de 2010)

    *Residencia*:\
       'CO_MUNICIPIO_RESIDENCIA',  (2011 E 2012 'COD_MUNICIPIO_INSC')(2013 e 2014 COD_MUNICIPIO_RESIDENCIA)
       'NO_MUNICIPIO_RESIDENCIA',  (2011 e 2012 'NO_MUNICIPIO_INSC')
       'CO_UF_RESIDENCIA',           (AUSENTE EM 2011 e 2012) (2013 e 2014 COD_UF_RESIDENCIA)
       'SG_UF_RESIDENCIA'           (2011 e 2012 UF_INSC)  (2013 e 2014 UF_RESIDENCIA)
       
    *Escola*:\
       'CO_ESCOLA'   (a partir de 2001)   (2001 à 2006 nome: CO_MASC_ESCOLA)(2011 e 2012 AUSENTE) (2013 e 2014 COD_ESCOLA)
       'CO_MUNICIPIO_ESC'   (a partir de 2001) (2011 a 2014 COD_MUNICIPIO_ESC)
       'NO_MUNICIPIO_ESC'   (a partir de 2001)
       'CO_UF_ESC'   (a partir de 2001)  (2011 a 2012 ausente) (2013 a 2014 COD_UF_ESC)
       'SG_UF_ESC'   (a partir de 2001) (2011 a 2014 UF_ESC)
       'TP_DEPENDENCIA_ADM_ESC'  (a partir de 2001)   (2011 a 2012 ID_DEPENDENCIA_ADM)  (2013 a 2014 ID_DEPENDENCIA_ADM_ESC)
       'TP_LOCALIZACAO_ESC'       (a partir de 2001) (2011 a 2012 ID_LOCALIZACAO)  (2013 a 2014 ID_LOCALIZACAO_ESC)

    *Prova Objetiva*:\
       'TP_PRESENCA', 
       'NU_NOTA_OBJETIVA'   (2006 está NU_NOTA_OBJETIVO)
       'NU_NOTA_CN'      (a partir de 2009) (2011 a 2012 NU_NT_CN) (2013 a 2014 NOTA_CN)
       'NU_NOTA_CH'      (a partir de 2009) (2011 a 2012 NU_NT_CH) (2013 a 2014 NOTA_CH)
       'NU_NOTA_LC'      (a partir de 2009) (2011 a 2012 NU_NT_LC) (2013 a 2014 NOTA_LC)
       'NU_NOTA_MT'      (a partir de 2009) (2011 a 2012 NU_NT_MT) (2013 a 2014 NOTA_MT)
       'NU_NOTA_REDACAO'
       TP_LINGUA

    *Redação*:\
       'NU_NOTA_COMP1'
       'NU_NOTA_COMP2'
       'NU_NOTA_COMP3'
       'NU_NOTA_COMP4'
       'NU_NOTA_COMP5'
       'NU_NOTA_REDACAO'
       'TP_STATUS_REDACAO'   (entre 2011 a 2014: IN_STATUS_REDACAO)

    **SocioEconômicas**:\
        Q1 - Escolaridade Pai \
        Q2 - Escolaridade Mãe \
        Q5 - Número de pessoas na casa \
        Q6 - Renda \
        Q22- Celular \
        Q24- Computador \
        Q25 - Internet \

---

    **OBSERVAÇÕES**
        - A partir de 2009 não temos TP_PRESENCA, mas a presença em cada prova (TP_PRESENCA_CN, TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT), substituir esses 4 por TP_PRESENCA (A PRESENÇA ENTRE 2011 E 2014: IN_PRESENCA_) 
        -  Até 2008 temos a nota de 5 componentes Objetivos, a partir de 2009, temos a nota de 4 componentes objetivos. Não são comparáveis:
            - antes de 2009: utilizar apenas a nota geral
            - a partir de 2009, utilizar as notas por componentes e fazer a média para termos o NU_NOTA_OBJETIVA
        -

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

###**SELEÇÃO E RENOMEAÇÃO 1998**

In [3]:
ano = 1998
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0)
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA', 'CO_PROVA',
       'VL_PERC_COMP1', 'VL_PERC_COMP2', 'VL_PERC_COMP3', 'VL_PERC_COMP4',
       'VL_PERC_COMP5', 'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86', 'Q87', 'Q88',
       'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
       'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104', 'Q105',
       'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113',
       'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120', 'Q121',
       'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128', 'Q129',
       'Q130', 'Q131', 'Q132', 'Q133', 'Q134', 'Q135', 'Q136', 'Q137'],
      dtype=object)

In [4]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q10','Q12','Q7','Q123','Q120']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [5]:
enem_ano.rename(columns = {'Q10': 'Q1',
                           'Q12':'Q2',
                           'Q7':'Q5',
                           'Q123':'Q24',
                           'Q120':'Q6'}, inplace = True)
enem_1998 = enem_ano
enem_1998.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q1   Q2   Q6  Q24
0           800    1998      17.0       M  ...  NaN  NaN  NaN  NaN
1           801    1998      18.0       M  ...    E    E    .    .
2           802    1998      17.0       M  ...    H    H    E    C
3           803    1998      16.0       F  ...    G    G    G    C
4           804    1998      17.0       F  ...    E    D    C    A

[5 rows x 22 columns]

In [6]:
enem_1998['Q1'].value_counts()
enem_1998['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação'}, inplace=True)
enem_1998['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação'}, inplace=True)

###**SELEÇÃO E RENOMEAÇÃO 1999**

In [7]:
ano = 1999
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0)
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'TP_PRESENCA', 'CO_PROVA', 'VL_PERC_COMP1', 'VL_PERC_COMP2',
       'VL_PERC_COMP3', 'VL_PERC_COMP4', 'VL_PERC_COMP5',
       'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86', 'Q87', 'Q88',
       'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
       'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104', 'Q105',
       'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113',
       'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120', 'Q121',
       'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128', 'Q129'],
      dtype=object)

In [8]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q18','Q19','Q16','Q27','Q24']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [9]:
enem_ano.rename(columns = {'Q18': 'Q1',
                           'Q19':'Q2',
                           'Q16':'Q5',
                           'Q27':'Q24',
                           'Q24':'Q6'}, inplace = True)
enem_1999 = enem_ano
enem_1999.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q1   Q2   Q6  Q24
0           123    1999      18.0       F  ...  NaN  NaN  NaN  NaN
1         16914    1999      19.0       F  ...    B    B    C    D
2         64030    1999      22.0       M  ...  NaN  NaN  NaN  NaN
3         64031    1999      18.0       M  ...    E    D    F    D
4         64032    1999      19.0       M  ...    G    F    G    C

[5 rows x 22 columns]

In [10]:
enem_1999['Q1'].value_counts()
enem_1999['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_1999['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

###**SELEÇÃO E RENOMEAÇÃO 2000**

In [11]:
ano = 2000
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'TP_PRESENCA', 'CO_PROVA', 'VL_PERC_COMP1', 'VL_PERC_COMP2',
       'VL_PERC_COMP3', 'VL_PERC_COMP4', 'VL_PERC_COMP5',
       'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86', 'Q87', 'Q88',
       'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
       'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104', 'Q105',
       'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113',
       'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120', 'Q121',
       'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127'], dtype=object)

In [12]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q17','Q18','Q15','Q26','Q23']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [13]:
enem_ano.rename(columns = {'Q17': 'Q1', 
                           'Q18':'Q2',
                           'Q15':'Q5',
                           'Q26':'Q24',
                           'Q23':'Q6'}, inplace = True)
enem_2000 = enem_ano
enem_2000.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q1   Q2   Q6  Q24
0        118611    2000      17.0       F  ...  NaN  NaN  NaN  NaN
1        118969    2000      18.0       F  ...  NaN  NaN  NaN  NaN
2        119826    2000      19.0       M  ...    G    G    E    A
3        168493    2000      20.0       F  ...    D    F    E    A
4        172862    2000      19.0       F  ...    E    E    D    B

[5 rows x 22 columns]

In [14]:
enem_2000['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2000['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [15]:
enem_2000['Q1'].value_counts()

Superior Completo          179
Pós-Graduação              123
Ensino Médio Completo       66
Fundamental Incompleto      39
Superior Incompleto         38
Fundamental Completo        32
Ensino Médio Incompleto     28
NI                          12
Sem Estudo                   8
.                            1
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2001**

In [16]:
ano = 2001
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA', 'CO_PROVA',
       'VL_PERC_COMP1', 'VL_PERC_COMP2', 'VL_PERC_COMP3', 'VL_PERC_COMP4',
       'VL_PERC_COMP5', 'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6_1',
       'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q6_7', 'Q6_8', 'Q7', 'Q8',
       'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16_1', 'Q16_2',
       'Q16_3', 'Q16_4', 'Q16_5', 'Q16_6', 'Q16_7', 'Q16_8', 'Q16_9',
       'Q16_10', 'Q17_1', 'Q17_2', 'Q17_3', 'Q17_4', 'Q17_5', 'Q18',
       'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q31', 'Q32',
       'Q33_1', 'Q33_2', 'Q33_3', 'Q33_4', 'Q33_5', 'Q33_6', 'Q33_7',
       'Q34_1', 'Q34_2', 'Q34_3', 'Q34_4', 'Q34_5', 'Q34_6', 'Q34_7',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42_1', 'Q42_2',
       'Q42_3', 'Q42_4', 'Q42_5', 'Q43_1', 'Q43_2', 'Q43_3', 'Q43_4',
       'Q43_5', 'Q44_1', 'Q44_2', 'Q44_3', 'Q44_4', 'Q44_5', 'Q44_6',
       'Q44_7', 'Q44_8', 'Q44_9', 'Q44_10', 'Q44_11', 'Q44_12', 'Q44_13',
       'Q44_14', 'Q44_15', 'Q44_16', 'Q45_1', 'Q45_2', 'Q45_3', 'Q45_4',
       'Q45_5', 'Q45_6', 'Q45_7', 'Q45_8', 'Q46', 'Q47_1', 'Q47_2',
       'Q47_3', 'Q47_4', 'Q47_5', 'Q47_6', 'Q47_7', 'Q48_1', 'Q48_2',
       'Q48_3', 'Q48_4', 'Q49', 'Q50_1', 'Q50_2', 'Q50_3', 'Q50_4',
       'Q50_5', 'Q50_6', 'Q50_7', 'Q50_8', 'Q50_9', 'Q50_10', 'Q50_11',
       'Q50_12', 'Q50_13', 'Q50_14', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55',
       'Q56_1', 'Q56_2', 'Q56_3', 'Q56_4', 'Q56_5', 'Q56_6', 'Q56_7',
       'Q56_8', 'Q57', 'Q58', 'Q59_1', 'Q59_2', 'Q59_3', 'Q59_4', 'Q59_5',
       'Q59_6', 'Q59_7', 'Q60_1', 'Q60_2', 'Q60_3', 'Q60_4', 'Q60_5',
       'Q60_6', 'Q60_7', 'Q60_8', 'Q60_9', 'Q60_10', 'Q61_1', 'Q61_2',
       'Q62_1', 'Q62_2', 'Q63_1', 'Q63_2', 'Q64_1', 'Q64_2', 'Q64_3',
       'Q64_4', 'Q64_5', 'Q64_6', 'Q64_7', 'Q64_8', 'Q64_9', 'Q64_10',
       'Q64_11', 'Q64_12', 'Q64_13', 'Q65_1', 'Q65_2', 'Q65_3', 'Q65_4',
       'Q65_5', 'Q65_6', 'Q65_7', 'Q65_8', 'Q65_9', 'Q65_10', 'Q65_11',
       'Q65_12', 'Q66_1', 'Q66_2', 'Q66_3', 'Q66_4', 'Q66_5', 'Q66_6',
       'Q66_7', 'Q67', 'Q68', 'Q69', 'Q70_1', 'Q70_2', 'Q70_3', 'Q70_4',
       'Q70_5', 'Q70_6', 'Q70_7', 'Q70_8', 'Q71_1', 'Q71_2', 'Q71_3',
       'Q71_4', 'Q72', 'Q73_1', 'Q73_2', 'Q73_3', 'Q73_4', 'Q73_5',
       'Q73_6', 'Q74_1', 'Q74_2', 'Q74_3', 'Q74_4', 'Q74_5', 'Q74_6',
       'Q74_7', 'Q75_1', 'Q75_2', 'Q75_3', 'Q75_4', 'Q75_5', 'Q75_6'],
      dtype=object)

In [17]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 
        'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
        'TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q9','Q10','Q7','Q16_4','Q15']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (60) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
enem_ano.rename(columns = {'Q9': 'Q1',
                           'Q10':'Q2',
                           'Q7':'Q5',
                           'Q16_4':'Q24',
                           'Q15':'Q6', 
                           'CO_MASC_ESCOLA':'CO_ESCOLA'}, inplace = True)
enem_2001 = enem_ano
enem_2001.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q1   Q2   Q6  Q24
0            39    2001      34.0       F  ...  NaN  NaN  NaN  NaN
1           902    2001      22.0       F  ...  NaN  NaN  NaN  NaN
2          1185    2001      19.0       M  ...  NaN  NaN  NaN  NaN
3          1198    2001      17.0       F  ...  NaN  NaN  NaN  NaN
4          1205    2001      26.0       F  ...  NaN  NaN  NaN  NaN

[5 rows x 29 columns]

In [19]:
enem_2001['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2001['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [20]:
enem_2001['Q1'].value_counts()

Fundamental Incompleto     1476
Sem Estudo                  537
Ensino Médio Completo       511
Fundamental Completo        477
Superior Completo           380
Ensino Médio Incompleto     208
NI                          194
Superior Incompleto         136
Pós-Graduação               114
.                            32
*                             9
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2002**

In [21]:
ano = 2002
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'CO_MASC_ESCOLA',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'TP_PRESENCA', 'CO_PROVA', 'VL_PERC_COMP1', 'VL_PERC_COMP2',
       'VL_PERC_COMP3', 'VL_PERC_COMP4', 'VL_PERC_COMP5',
       'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6_1',
       'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q6_7', 'Q6_8', 'Q7', 'Q8',
       'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16_1', 'Q16_2',
       'Q16_3', 'Q16_4', 'Q16_5', 'Q16_6', 'Q16_7', 'Q16_8', 'Q16_9',
       'Q16_10', 'Q17_1', 'Q17_2', 'Q17_3', 'Q17_4', 'Q17_5', 'Q18',
       'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q31', 'Q32',
       'Q33_1', 'Q33_2', 'Q33_3', 'Q33_4', 'Q33_5', 'Q33_6', 'Q33_7',
       'Q34_1', 'Q34_2', 'Q34_3', 'Q34_4', 'Q34_5', 'Q34_6', 'Q34_7',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42_1', 'Q42_2',
       'Q42_3', 'Q42_4', 'Q42_5', 'Q43_1', 'Q43_2', 'Q43_3', 'Q43_4',
       'Q43_5', 'Q44_1', 'Q44_2', 'Q44_3', 'Q44_4', 'Q44_5', 'Q44_6',
       'Q44_7', 'Q44_8', 'Q44_9', 'Q44_10', 'Q44_11', 'Q44_12', 'Q44_13',
       'Q44_14', 'Q44_15', 'Q44_16', 'Q45_1', 'Q45_2', 'Q45_3', 'Q45_4',
       'Q45_5', 'Q45_6', 'Q45_7', 'Q45_8', 'Q46', 'Q47_1', 'Q47_2',
       'Q47_3', 'Q47_4', 'Q47_5', 'Q47_6', 'Q47_7', 'Q48_1', 'Q48_2',
       'Q48_3', 'Q48_4', 'Q48_5', 'Q48_6', 'Q48_7', 'Q48_8', 'Q48_9',
       'Q48_10', 'Q48_11', 'Q48_12', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53',
       'Q54_1', 'Q54_2', 'Q54_3', 'Q54_4', 'Q54_5', 'Q54_6', 'Q54_7',
       'Q54_8', 'Q55', 'Q56', 'Q57_1', 'Q57_2', 'Q57_3', 'Q57_4', 'Q57_5',
       'Q57_6', 'Q57_7', 'Q58_1', 'Q58_2', 'Q58_3', 'Q58_4', 'Q58_5',
       'Q58_6', 'Q58_7', 'Q58_8', 'Q58_9', 'Q58_10', 'Q59_1', 'Q59_2',
       'Q60_1', 'Q60_2', 'Q61_1', 'Q61_2', 'Q62_1', 'Q62_2', 'Q63_1',
       'Q63_2', 'Q64_1', 'Q64_2', 'Q64_3', 'Q64_4', 'Q64_5', 'Q64_6',
       'Q64_7', 'Q64_8', 'Q64_9', 'Q64_10', 'Q64_11', 'Q64_12', 'Q64_13',
       'Q65_1', 'Q65_2', 'Q65_3', 'Q66', 'Q67', 'Q68', 'Q69_1', 'Q69_2',
       'Q69_3', 'Q69_4', 'Q69_5', 'Q69_6', 'Q69_7', 'Q69_8', 'Q70',
       'Q71_1', 'Q71_2', 'Q71_3', 'Q71_4', 'Q71_5', 'Q71_6', 'Q72_1',
       'Q72_2', 'Q72_3', 'Q72_4', 'Q72_5', 'Q72_6', 'Q72_7', 'Q73_1',
       'Q73_2', 'Q73_3', 'Q73_4', 'Q73_5', 'Q73_6'], dtype=object)

In [22]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
        'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q9','Q10','Q7','Q16_4','Q15']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [23]:
enem_ano.rename(columns = {'Q9': 'Q1', 
                           'Q10':'Q2',
                           'Q7':'Q5',
                           'Q16_4':'Q24',
                           'Q15':'Q6', 
                           'CO_MASC_ESCOLA':'CO_ESCOLA'}, inplace = True)
enem_2002 = enem_ano
enem_2002.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q1   Q2   Q6  Q24
0        349245    2002      17.0       F  ...  NaN  NaN  NaN  NaN
1        360426    2002      19.0       F  ...  NaN  NaN  NaN  NaN
2        361054    2002      21.0       F  ...  NaN  NaN  NaN  NaN
3        423877    2002      23.0       F  ...  NaN  NaN  NaN  NaN
4        214406    2002      19.0       F  ...  NaN  NaN  NaN  NaN

[5 rows x 29 columns]

In [24]:
enem_2002['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2002['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [25]:
enem_2002['Q1'].value_counts()

Fundamental Incompleto     22
Sem Estudo                  9
Fundamental Completo        5
Superior Completo           4
NI                          4
Ensino Médio Completo       3
Ensino Médio Incompleto     2
Superior Incompleto         2
.                           1
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2003**

In [26]:
ano = 2003
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA', 'CO_PROVA',
       'VL_PERC_COMP1', 'VL_PERC_COMP2', 'VL_PERC_COMP3', 'VL_PERC_COMP4',
       'VL_PERC_COMP5', 'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'IN_CONCLUIU', 'Q1', 'Q2', 'Q3', 'Q4',
       'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
       'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23',
       'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32',
       'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41',
       'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50',
       'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59',
       'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68',
       'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77',
       'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86',
       'Q87', 'Q88', 'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95',
       'Q96', 'Q97', 'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104',
       'Q105', 'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112',
       'Q113', 'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120',
       'Q121', 'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128',
       'Q129', 'Q130', 'Q131', 'Q132', 'Q133', 'Q134', 'Q135', 'Q136',
       'Q137', 'Q138', 'Q139', 'Q140', 'Q141', 'Q142', 'Q143', 'Q144',
       'Q145', 'Q146', 'Q147', 'Q148', 'Q149', 'Q150', 'Q151', 'Q152',
       'Q153', 'Q154', 'Q155', 'Q156', 'Q157', 'Q158', 'Q159', 'Q160',
       'Q161', 'Q162', 'Q163', 'Q164', 'Q165', 'Q166', 'Q167', 'Q168',
       'Q169', 'Q170', 'Q171', 'Q172', 'Q173', 'Q174', 'Q175', 'Q176',
       'Q177', 'Q178', 'Q179', 'Q180', 'Q181', 'Q182', 'Q183', 'Q184',
       'Q185', 'Q186', 'Q187', 'Q188'], dtype=object)

In [27]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
        'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q16','Q17','Q14','Q22','Q26','Q31','Q32']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [28]:
enem_ano.rename(columns = {'Q16': 'Q1', 
                           'Q17':'Q2',
                           'Q14':'Q5',
                           'Q31':'Q22',
                           'Q26':'Q24',
                           'Q32':'Q25',
                           'Q22':'Q6', 
                           'CO_MASC_ESCOLA':'CO_ESCOLA'}, inplace = True)
enem_2003 = enem_ano
enem_2003.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q6  Q24  Q22  Q25
0          1721    2003        18       F  ...  NaN  NaN  NaN  NaN
1          1722    2003        17       F  ...    B    .    .    .
2          3628    2003        18       M  ...  NaN  NaN  NaN  NaN
3          3629    2003        17       F  ...    D    B    C    B
4          3630    2003        17       F  ...    E    A    C    A

[5 rows x 31 columns]

In [29]:
enem_2003['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2003['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [30]:
enem_2003['Q1'].value_counts()

Fundamental Incompleto     516
Sem Estudo                 217
Fundamental Completo       127
Ensino Médio Completo      112
NI                         100
Ensino Médio Incompleto     68
Superior Completo           57
.                           16
Superior Incompleto         13
Pós-Graduação                6
*                            1
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2004**

In [31]:
ano = 2004
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA', 'CO_PROVA',
       'VL_PERC_COMP1', 'VL_PERC_COMP2', 'VL_PERC_COMP3', 'VL_PERC_COMP4',
       'VL_PERC_COMP5', 'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86', 'Q87', 'Q88',
       'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
       'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104', 'Q105',
       'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113',
       'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120', 'Q121',
       'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128', 'Q129',
       'Q130', 'Q131', 'Q132', 'Q133', 'Q134', 'Q135', 'Q136', 'Q137',
       'Q138', 'Q139', 'Q140', 'Q141', 'Q142', 'Q143', 'Q144', 'Q145',
       'Q146', 'Q147', 'Q148', 'Q149', 'Q150', 'Q151', 'Q152', 'Q153',
       'Q154', 'Q155', 'Q156', 'Q157', 'Q158', 'Q159', 'Q160', 'Q161',
       'Q162', 'Q163', 'Q164', 'Q165', 'Q166', 'Q167', 'Q168', 'Q169',
       'Q170', 'Q171', 'Q172', 'Q173', 'Q174', 'Q175', 'Q176', 'Q177',
       'Q178', 'Q179', 'Q180', 'Q181', 'Q182', 'Q183', 'Q184', 'Q185',
       'Q186', 'Q187', 'Q188', 'Q189', 'Q190', 'Q191', 'Q192', 'Q193',
       'Q194', 'Q195', 'Q196', 'Q197', 'Q198', 'Q199', 'Q200', 'Q201',
       'Q202', 'Q203', 'Q204', 'Q205'], dtype=object)

In [32]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
        'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA','TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q16','Q17','Q14','Q22','Q26','Q31','Q32']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [33]:
enem_ano.rename(columns = {'Q16': 'Q1', 
                           'Q17':'Q2',
                           'Q14':'Q5',
                           'Q31':'Q22',
                           'Q26':'Q24',
                           'Q32':'Q25',
                           'Q22':'Q6', 
                           'CO_MASC_ESCOLA':'CO_ESCOLA'}, inplace = True)
enem_2004 = enem_ano
enem_2004.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...  Q6 Q24  Q22 Q25
0         50687    2004      18.0       M  ...   E   A    C   A
1         50688    2004      18.0       F  ...   D   D    C   A
2         50689    2004      17.0       F  ...   G   A    A   D
3         50690    2004      17.0       F  ...   D   A    C   A
4         50691    2004      17.0       F  ...   E   D    C   D

[5 rows x 31 columns]

In [34]:
enem_2004['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2004['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [35]:
enem_2004['Q1'].value_counts()

Fundamental Incompleto     552
Superior Completo          399
Ensino Médio Completo      244
Fundamental Completo       196
Sem Estudo                 176
NI                         142
Pós-Graduação              136
Ensino Médio Incompleto    104
Superior Incompleto         86
.                           19
*                            6
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2005**

In [36]:
ano = 2005
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA', 'CO_PROVA',
       'VL_PERC_COMP1', 'VL_PERC_COMP2', 'VL_PERC_COMP3', 'VL_PERC_COMP4',
       'VL_PERC_COMP5', 'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86', 'Q87', 'Q88',
       'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
       'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104', 'Q105',
       'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113',
       'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120', 'Q121',
       'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128', 'Q129',
       'Q130', 'Q131', 'Q132', 'Q133', 'Q134', 'Q135', 'Q136', 'Q137',
       'Q138', 'Q139', 'Q140', 'Q141', 'Q142', 'Q143', 'Q144', 'Q145',
       'Q146', 'Q147', 'Q148', 'Q149', 'Q150', 'Q151', 'Q152', 'Q153',
       'Q154', 'Q155', 'Q156', 'Q157', 'Q158', 'Q159', 'Q160', 'Q161',
       'Q162', 'Q163', 'Q164', 'Q165', 'Q166', 'Q167', 'Q168', 'Q169',
       'Q170', 'Q171', 'Q172', 'Q173', 'Q174', 'Q175', 'Q176', 'Q177',
       'Q178', 'Q179', 'Q180', 'Q181', 'Q182', 'Q183', 'Q184', 'Q185',
       'Q186', 'Q187', 'Q188', 'Q189', 'Q190', 'Q191', 'Q192', 'Q193',
       'Q194', 'Q195', 'Q196', 'Q197', 'Q198', 'Q199', 'Q200', 'Q201',
       'Q202', 'Q203', 'Q204', 'Q205', 'Q206', 'Q207', 'Q208', 'Q209',
       'Q210', 'Q211', 'Q212', 'Q213', 'Q214', 'Q215', 'Q216', 'Q217',
       'Q218', 'Q219', 'Q220', 'Q221', 'Q222', 'Q223'], dtype=object)

In [37]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
        'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
        'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q17','Q18','Q15','Q27','Q32','Q33','Q23']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [38]:
enem_ano.rename(columns = {'Q17': 'Q1', 
                           'Q18':'Q2',
                           'Q15':'Q5',
                           'Q32':'Q22',
                           'Q27':'Q24',
                           'Q33':'Q25',
                           'Q23':'Q6', 
                           'CO_MASC_ESCOLA':'CO_ESCOLA'}, inplace = True)
enem_2005 = enem_ano
enem_2005.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q6  Q24  Q22  Q25
0         19252    2005      17.0       F  ...  NaN  NaN  NaN  NaN
1         28793    2005      25.0       F  ...    B    .    A    .
2         28794    2005      18.0       F  ...    B    D    A    D
3         30731    2005      17.0       M  ...  NaN  NaN  NaN  NaN
4         31666    2005      16.0       M  ...    C    A    B    D

[5 rows x 31 columns]

In [39]:
enem_2005['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2005['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [40]:
enem_2005['Q1'].value_counts()

Fundamental Incompleto     2726
Sem Estudo                 1051
Ensino Médio Completo      1005
Fundamental Completo        863
NI                          417
Superior Completo           411
Ensino Médio Incompleto     383
Superior Incompleto         192
Pós-Graduação                76
.                            44
*                            13
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2006**

In [41]:
ano = 2006
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'TP_ENSINO', 'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'TP_PRESENCA', 'CO_PROVA', 'VL_PERC_COMP1', 'VL_PERC_COMP2',
       'VL_PERC_COMP3', 'VL_PERC_COMP4', 'VL_PERC_COMP5',
       'TX_RESPOSTAS_OBJETIVA', 'TX_GABARITO_OBJETIVA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2',
       'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'IN_SUPLETIVO', 'NU_NOTA_OBJETIVO',
       'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11',
       'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29',
       'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38',
       'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47',
       'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56',
       'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65',
       'Q66', 'Q67', 'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74',
       'Q75', 'Q76', 'Q77', 'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83',
       'Q84', 'Q85', 'Q86', 'Q87', 'Q88', 'Q89', 'Q90', 'Q91', 'Q92',
       'Q93', 'Q94', 'Q95', 'Q96', 'Q97', 'Q98', 'Q99', 'Q100', 'Q101',
       'Q102', 'Q103', 'Q104', 'Q105', 'Q106', 'Q107', 'Q108', 'Q109',
       'Q110', 'Q111', 'Q112', 'Q113', 'Q114', 'Q115', 'Q116', 'Q117',
       'Q118', 'Q119', 'Q120', 'Q121', 'Q122', 'Q123', 'Q124', 'Q125',
       'Q126', 'Q127', 'Q128', 'Q129', 'Q130', 'Q131', 'Q132', 'Q133',
       'Q134', 'Q135', 'Q136', 'Q137', 'Q138', 'Q139', 'Q140', 'Q141',
       'Q142', 'Q143', 'Q144', 'Q145', 'Q146', 'Q147', 'Q148', 'Q149',
       'Q150', 'Q151', 'Q152', 'Q153', 'Q154', 'Q155', 'Q156', 'Q157',
       'Q158', 'Q159', 'Q160', 'Q161', 'Q162', 'Q163', 'Q164', 'Q165',
       'Q166', 'Q167', 'Q168', 'Q169', 'Q170', 'Q171', 'Q172', 'Q173',
       'Q174', 'Q175', 'Q176', 'Q177', 'Q178', 'Q179', 'Q180', 'Q181',
       'Q182', 'Q183', 'Q184', 'Q185', 'Q186', 'Q187', 'Q188', 'Q189',
       'Q190', 'Q191', 'Q192', 'Q193', 'Q194', 'Q195', 'Q196', 'Q197',
       'Q198', 'Q199', 'Q200', 'Q201', 'Q202', 'Q203', 'Q204', 'Q205',
       'Q206', 'Q207', 'Q208', 'Q209', 'Q210', 'Q211', 'Q212', 'Q213',
       'Q214', 'Q215', 'Q216', 'Q217', 'Q218', 'Q219', 'Q220', 'Q221',
       'Q222', 'Q223'], dtype=object)

In [42]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
               'CO_MASC_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
        'NU_NOTA_OBJETIVO', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q17','Q18','Q15','Q27','Q32','Q33','Q23']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',', usecols=selecionadas_ano);

In [43]:
enem_ano.rename(columns = {'Q17': 'Q1', 
                           'Q18':'Q2',
                           'Q15':'Q5',
                           'Q32':'Q22',
                           'Q27':'Q24',
                           'Q33':'Q25',
                           'Q23':'Q6', 
                           'NU_NOTA_OBJETIVO':'NU_NOTA_OBJETIVA', 
                           'CO_MASC_ESCOLA':'CO_ESCOLA'}, inplace = True)
enem_2006 = enem_ano
enem_2006.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q6  Q24  Q22  Q25
0       3045007    2006      27.0       F  ...  NaN  NaN  NaN  NaN
1       3161756    2006      22.0       M  ...  NaN  NaN  NaN  NaN
2       3162232    2006      22.0       M  ...  NaN  NaN  NaN  NaN
3       1699434    2006      28.0       F  ...  NaN  NaN  NaN  NaN
4       1936580    2006      18.0       F  ...    B    D    D    D

[5 rows x 31 columns]

In [44]:
enem_2006['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2006['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [45]:
enem_2006['Q1'].value_counts()

Fundamental Incompleto     9994
Sem Estudo                 4223
Ensino Médio Completo      3377
Fundamental Completo       3183
NI                         1558
Superior Completo          1469
Ensino Médio Incompleto    1310
Superior Incompleto         676
.                           426
Pós-Graduação               289
*                            32
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2007**

In [46]:
ano = 2007
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'TP_ENSINO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA', 'CO_PROVA',
       'VL_PERC_COMP1', 'VL_PERC_COMP2', 'VL_PERC_COMP3', 'VL_PERC_COMP4',
       'VL_PERC_COMP5', 'NU_NOTA_OBJETIVA', 'TX_RESPOSTAS_OBJETIVA',
       'TX_GABARITO_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86', 'Q87', 'Q88',
       'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
       'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104', 'Q105',
       'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113',
       'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120', 'Q121',
       'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128', 'Q129',
       'Q130', 'Q131', 'Q132', 'Q133', 'Q134', 'Q135', 'Q136', 'Q137',
       'Q138', 'Q139', 'Q140', 'Q141', 'Q142', 'Q143', 'Q144', 'Q145',
       'Q146', 'Q147', 'Q148', 'Q149', 'Q150', 'Q151', 'Q152', 'Q153',
       'Q154', 'Q155', 'Q156', 'Q157', 'Q158', 'Q159', 'Q160', 'Q161',
       'Q162', 'Q163', 'Q164', 'Q165', 'Q166', 'Q167', 'Q168', 'Q169',
       'Q170', 'Q171', 'Q172', 'Q173', 'Q174', 'Q175', 'Q176', 'Q177',
       'Q178', 'Q179', 'Q180', 'Q181', 'Q182', 'Q183', 'Q184', 'Q185',
       'Q186', 'Q187', 'Q188', 'Q189', 'Q190', 'Q191', 'Q192', 'Q193',
       'Q194', 'Q195', 'Q196', 'Q197', 'Q198', 'Q199', 'Q200', 'Q201',
       'Q202', 'Q203', 'Q204', 'Q205', 'Q206', 'Q207', 'Q208', 'Q209',
       'Q210', 'Q211', 'Q212', 'Q213', 'Q214', 'Q215', 'Q216', 'Q217',
       'Q218', 'Q219', 'Q220', 'Q221', 'Q222', 'Q223'], dtype=object)

In [47]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA','TP_PRESENCA',
       'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q17','Q18','Q15','Q27','Q32','Q33','Q23']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [48]:
enem_ano.rename(columns = {'Q17': 'Q1', 
                           'Q18':'Q2',
                           'Q15':'Q5',
                           'Q32':'Q22',
                           'Q27':'Q24',
                           'Q33':'Q25',
                           'Q23':'Q6'}, inplace = True)
enem_2007 = enem_ano
enem_2007.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q6  Q24  Q22  Q25
0       1265479    2007      19.0       F  ...    A    D    D    D
1       1265480    2007      20.0       F  ...    A    D    A    D
2       1265481    2007      18.0       M  ...  NaN  NaN  NaN  NaN
3       1265482    2007      21.0       F  ...    A    D    D    D
4       1265483    2007      20.0       F  ...    B    D    A    D

[5 rows x 31 columns]

In [49]:
enem_2007['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2007['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [50]:
enem_2007['Q1'].value_counts()

Fundamental Incompleto     10473
Sem Estudo                  4682
Fundamental Completo        3400
Ensino Médio Completo       3320
NI                          1556
Ensino Médio Incompleto     1324
Superior Completo           1200
Superior Incompleto          597
*                            305
Pós-Graduação                262
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2008**

In [51]:
ano = 2008
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'TP_ENSINO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA',
       'CO_PROVA', 'VL_PERC_COMP1', 'VL_PERC_COMP2', 'VL_PERC_COMP3',
       'VL_PERC_COMP4', 'VL_PERC_COMP5', 'NU_NOTA_OBJETIVA',
       'TX_RESPOSTAS_OBJETIVA', 'TX_GABARITO_OBJETIVA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2',
       'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75', 'Q76', 'Q77', 'Q78', 'Q79',
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'Q85', 'Q86', 'Q87', 'Q88',
       'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94', 'Q95', 'Q96', 'Q97',
       'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103', 'Q104', 'Q105',
       'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112', 'Q113',
       'Q114', 'Q115', 'Q116', 'Q117', 'Q118', 'Q119', 'Q120', 'Q121',
       'Q122', 'Q123', 'Q124', 'Q125', 'Q126', 'Q127', 'Q128', 'Q129',
       'Q130', 'Q131', 'Q132', 'Q133', 'Q134', 'Q135', 'Q136', 'Q137',
       'Q138', 'Q139', 'Q140', 'Q141', 'Q142', 'Q143', 'Q144', 'Q145',
       'Q146', 'Q147', 'Q148', 'Q149', 'Q150', 'Q151', 'Q152', 'Q153',
       'Q154', 'Q155', 'Q156', 'Q157', 'Q158', 'Q159', 'Q160', 'Q161',
       'Q162', 'Q163', 'Q164', 'Q165', 'Q166', 'Q167', 'Q168', 'Q169',
       'Q170', 'Q171', 'Q172', 'Q173', 'Q174', 'Q175', 'Q176', 'Q177',
       'Q178', 'Q179', 'Q180', 'Q181', 'Q182', 'Q183', 'Q184', 'Q185',
       'Q186', 'Q187', 'Q188', 'Q189', 'Q190', 'Q191', 'Q192', 'Q193',
       'Q194', 'Q195', 'Q196', 'Q197', 'Q198', 'Q199', 'Q200', 'Q201',
       'Q202', 'Q203', 'Q204', 'Q205', 'Q206', 'Q207', 'Q208', 'Q209',
       'Q210', 'Q211', 'Q212', 'Q213', 'Q214', 'Q215', 'Q216', 'Q217',
       'Q218', 'Q219', 'Q220', 'Q221', 'Q222', 'Q223'], dtype=object)

In [52]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_PRESENCA',
       'NU_NOTA_OBJETIVA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q17','Q18','Q15','Q27','Q32','Q33','Q23']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [53]:
enem_ano.rename(columns = {'Q17': 'Q1', 
                           'Q18':'Q2',
                           'Q15':'Q5',
                           'Q32':'Q22',
                           'Q27':'Q24',
                           'Q33':'Q25',
                           'Q23':'Q6'}, inplace = True)
enem_2008 = enem_ano
enem_2008.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...   Q6  Q24  Q22  Q25
0  200800744171    2008      20.0       M  ...    H    D    A    D
1  200800974339    2008      18.0       F  ...    D    .    B    A
2  200801205100    2008      20.0       M  ...    A    D    A    D
3  200801520366    2008      26.0       M  ...  NaN  NaN  NaN  NaN
4  200802419367    2008      26.0       M  ...    B    A    A    A

[5 rows x 31 columns]

In [54]:
enem_2008['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2008['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [55]:
enem_2008['Q1'].value_counts()

Fundamental Incompleto     13054
Sem Estudo                  5742
Ensino Médio Completo       4501
Fundamental Completo        4208
NI                          2086
Ensino Médio Incompleto     1756
Superior Completo           1629
Superior Incompleto          804
Pós-Graduação                312
.                            136
*                             56
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2009**

In [56]:
ano = 2009
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_ST_CONCLUSAO',
       'TP_ENSINO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'CO_PROVA_CN', 'CO_PROVA_CH',
       'CO_PROVA_LC', 'CO_PROVA_MT', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'IN_CERTIFICADO', 'IN_BRAILLE',
       'IN_AMPLIADA', 'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO',
       'IN_OUTRO', 'IN_LIBRAS', 'IN_UNIDADE_PRISIONAL', 'IN_QSE', 'Q1',
       'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11',
       'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29',
       'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38',
       'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47',
       'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56',
       'Q57', 'Q58', 'Q59', 'Q60', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65',
       'Q66', 'Q67', 'Q68', 'Q69', 'Q70', 'Q71', 'Q72', 'Q73', 'Q74',
       'Q75', 'Q76', 'Q77', 'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83',
       'Q84', 'Q85', 'Q86', 'Q87', 'Q88', 'Q89', 'Q90', 'Q91', 'Q92',
       'Q93', 'Q94', 'Q95', 'Q96', 'Q97', 'Q98', 'Q99', 'Q100', 'Q101',
       'Q102', 'Q103', 'Q104', 'Q105', 'Q106', 'Q107', 'Q108', 'Q109',
       'Q110', 'Q111', 'Q112', 'Q113', 'Q114', 'Q115', 'Q116', 'Q117',
       'Q118', 'Q119', 'Q120', 'Q121', 'Q122', 'Q123', 'Q124', 'Q125',
       'Q126', 'Q127', 'Q128', 'Q129', 'Q130', 'Q131', 'Q132', 'Q133',
       'Q134', 'Q135', 'Q136', 'Q137', 'Q138', 'Q139', 'Q140', 'Q141',
       'Q142', 'Q143', 'Q144', 'Q145', 'Q146', 'Q147', 'Q148', 'Q149',
       'Q150', 'Q151', 'Q152', 'Q153', 'Q154', 'Q155', 'Q156', 'Q157',
       'Q158', 'Q159', 'Q160', 'Q161', 'Q162', 'Q163', 'Q164', 'Q165',
       'Q166', 'Q167', 'Q168', 'Q169', 'Q170', 'Q171', 'Q172', 'Q173',
       'Q174', 'Q175', 'Q176', 'Q177', 'Q178', 'Q179', 'Q180', 'Q181',
       'Q182', 'Q183', 'Q184', 'Q185', 'Q186', 'Q187', 'Q188', 'Q189',
       'Q190', 'Q191', 'Q192', 'Q193', 'Q194', 'Q195', 'Q196', 'Q197',
       'Q198', 'Q199', 'Q200', 'Q201', 'Q202', 'Q203', 'Q204', 'Q205',
       'Q206', 'Q207', 'Q208', 'Q209', 'Q210', 'Q211', 'Q212', 'Q213',
       'Q214', 'Q215', 'Q216', 'Q217', 'Q218', 'Q219', 'Q220', 'Q221',
       'Q222', 'Q223', 'Q224', 'Q225', 'Q226', 'Q227', 'Q228', 'Q229',
       'Q230', 'Q231', 'Q232', 'Q233', 'Q234', 'Q235', 'Q236', 'Q237',
       'Q238', 'Q239', 'Q240', 'Q241', 'Q242', 'Q243', 'Q244', 'Q245',
       'Q246', 'Q247', 'Q248', 'Q249', 'Q250', 'Q251', 'Q252', 'Q253',
       'Q254', 'Q255', 'Q256', 'Q257', 'Q258', 'Q259', 'Q260', 'Q261',
       'Q262', 'Q263', 'Q264', 'Q265', 'Q266', 'Q267', 'Q268', 'Q269',
       'Q270', 'Q271', 'Q272', 'Q273', 'Q274', 'Q275', 'Q276', 'Q277',
       'Q278', 'Q279', 'Q280', 'Q281', 'Q282', 'Q283', 'Q284', 'Q285',
       'Q286', 'Q287', 'Q288', 'Q289', 'Q290', 'Q291', 'Q292', 'Q293'],
      dtype=object)

In [57]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q17','Q18','Q15','Q30','Q25','Q31','Q21',
       'TP_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [58]:
enem_ano.rename(columns = {'Q17': 'Q1', 
                           'Q18':'Q2',
                           'Q15':'Q5',
                           'Q30':'Q22',
                           'Q25':'Q24',
                           'Q31':'Q25',
                           'Q21':'Q6'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'TP_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})

enem_2009 = enem_ano
enem_2009.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...  Q24  Q22  Q25 NU_NOTA_OBJETIVA
0  100000007623    2009      30.0       M  ...    A    A    A          590.125
1  100000016516    2009      23.0       F  ...  NaN  NaN  NaN              NaN
2  100000039079    2009      21.0       F  ...    A    D    A          440.875
3  100000039080    2009      23.0       F  ...    D    D    D          422.950
4  100000039081    2009      19.0       F  ...    D    A    D          432.600

[5 rows x 35 columns]

In [59]:
enem_2009['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2009['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [60]:
enem_2009['Q1'].value_counts()

Fundamental Incompleto     12008
Ensino Médio Completo       6143
Fundamental Completo        4933
Sem Estudo                  4796
Superior Completo           2504
Ensino Médio Incompleto     2303
NI                          1744
Superior Incompleto         1174
Pós-Graduação                648
.                            580
*                             72
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2010**

In [61]:
ano = 2010
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_ST_CONCLUSAO', 'TP_ENSINO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_DEFICIENCIA_FISICA',
       'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA',
       'IN_GESTANTE', 'IN_LACTANTE', 'IN_BRAILLE', 'IN_AMPLIADA',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_LEITURA_LABIAL', 'IN_SABATISTA', 'IN_CERTIFICADO',
       'IN_UNIDADE_PRISIONAL', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH',
       'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH',
       'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q01', 'Q02', 'Q03', 'Q04', 'Q05',
       'Q06', 'Q07', 'Q08', 'Q09', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
       'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23',
       'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32',
       'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41',
       'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50',
       'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57'], dtype=object)

In [62]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO','TP_COR_RACA',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'TP_LINGUA',
       'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q02','Q03','Q01','Q04','Q22','Q24','Q25','TP_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [63]:
enem_ano.rename(columns = {'Q02':'Q1', 
                           'Q03':'Q2',
                           'Q01':'Q5',
                           'Q04':'Q6',
                           'Q11':'Q22',
                           'Q24':'Q24',
                           'Q25':'Q25'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'TP_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})

enem_2010 = enem_ano
enem_2010.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ...  Q24  Q25 NU_NOTA_OBJETIVA
0  200000000040    2010                2513901.0  ...  4.0  5.0           509.25
1  200000000101    2010                2504009.0  ...  4.0  5.0           565.55
2  200000000154    2010                2504009.0  ...  5.0  5.0           415.30
3  200000000169    2010                2512101.0  ...  5.0  5.0           551.65
4  200000000182    2010                2504009.0  ...  5.0  5.0           565.40

[5 rows x 37 columns]

In [64]:
enem_2010['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2010['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [65]:
enem_2010['Q1'].value_counts()

Sem Estudo                 32824
Fundamental Completo       21404
Fundamental Incompleto     16064
Pós-Graduação              10219
Ensino Médio Incompleto     7254
NI                          5217
Ensino Médio Completo       1329
Superior Incompleto          404
Superior Completo            272
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2011**

In [66]:
ano = 2011
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'IDADE', 'TP_SEXO', 'COD_MUNICIPIO_INSC',
       'NO_MUNICIPIO_INSC', 'UF_INSC', 'ST_CONCLUSAO', 'IN_TP_ENSINO',
       'IN_CERTIFICADO', 'IN_BRAILLE', 'IN_AMPLIADA', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_UNIDADE_PRISIONAL',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_LEITURA_LABIAL', 'IN_SABATISTA', 'IN_SURDEZ',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'PK_COD_ENTIDADE',
       'COD_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'UF_ESC',
       'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'SIT_FUNC',
       'COD_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'UF_MUNICIPIO_PROVA',
       'IN_PRESENCA_CN', 'IN_PRESENCA_CH', 'IN_PRESENCA_LC',
       'IN_PRESENCA_MT', 'NU_NT_CN', 'NU_NT_CH', 'NU_NT_LC', 'NU_NT_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'ID_PROVA_CN', 'ID_PROVA_CH', 'ID_PROVA_LC',
       'ID_PROVA_MT', 'TP_LINGUA', 'DS_GABARITO_CN', 'DS_GABARITO_CH',
       'DS_GABARITO_LC', 'DS_GABARITO_MT', 'IN_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'IN_CONCLUINTE_CENSO',
       'COD_ETAPA_ENSINO_CENSO', 'COD_ENTIDADE_CENSO',
       'COD_MUNICIPIO_ESC_CENSO', 'NO_MUNICIPIO_ESC_CENSO',
       'UF_ESC_CENSO', 'ID_DEPENDENCIA_ADM_CENSO', 'ID_LOCALIZACAO_CENSO',
       'SIT_FUNC_CENSO', 'IN_QSE', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34',
       'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43',
       'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52',
       'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59', 'Q60', 'Q61',
       'Q62', 'Q63', 'Q64', 'Q65', 'Q66', 'Q67', 'Q68', 'Q69', 'Q70',
       'Q71', 'Q72', 'Q73', 'Q74', 'Q75'], dtype=object)

In [67]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'IDADE', 'TP_SEXO','TP_COR_RACA',
       'COD_MUNICIPIO_INSC', 'NO_MUNICIPIO_INSC',
       'COD_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'UF_INSC',
        'UF_ESC', 'ID_DEPENDENCIA_ADM',
       'ID_LOCALIZACAO',
       'TP_LINGUA',
       'NU_NT_CN','NU_NT_CH','NU_NT_LC','NU_NT_MT',
       'IN_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q2','Q3','Q1','Q4','Q70','Q64','Q71','IN_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (63,64,68) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [68]:
enem_ano.rename(columns = {'Q2':'Q1', 
                           'Q3':'Q2',
                           'Q1':'Q5',
                           'Q4':'Q6',
                           'Q70':'Q22',
                           'Q64':'Q24',
                           'Q71':'Q25',
                           'COD_MUNICIPIO_INSC':'CO_MUNICIPIO_RESIDENCIA', 
                           'NO_MUNICIPIO_INSC':'NO_MUNICIPIO_RESIDENCIA',
                           'UF_INSC':'SG_UF_RESIDENCIA',
                           'COD_MUNICIPIO_ESC':'CO_MUNICIPIO_ESC',
                            'UF_ESC': 'SG_UF_ESC', 
                           'ID_DEPENDENCIA_ADM': 'TP_DEPENDENCIA_ADM_ESC' ,
                           'ID_LOCALIZACAO':'TP_LOCALIZACAO_ESC',
                            'NU_NT_CN':'NU_NOTA_CN',
                           'NU_NT_CH':'NU_NOTA_CH',
                           'NU_NT_LC':'NU_NOTA_LC',
                           'NU_NT_MT':'NU_NOTA_MT',
                           'IN_STATUS_REDACAO':'TP_STATUS_REDACAO',
                           'IDADE':'NU_IDADE'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'IN_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2011 = enem_ano
enem_2011.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE  TP_SEXO  ...  Q24 Q22 Q25  NU_NOTA_OBJETIVA
0  300000000039    2011        25        0  ...    D   A   D               NaN
1  300000000099    2011        23        0  ...    D   B   D               NaN
2  300000000102    2011        24        1  ...    D   A   D               NaN
3  300000000134    2011        30        1  ...    A   B   D               NaN
4  300000000154    2011        27        0  ...    D   D   D               NaN

[5 rows x 34 columns]

In [69]:
enem_2011['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2011['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [70]:
enem_2011['Q1'].value_counts()

Fundamental Incompleto     42207
Ensino Médio Completo      19062
Fundamental Completo       17516
Sem Estudo                 17321
Superior Completo           8168
NI                          7030
Ensino Médio Incompleto     6422
Superior Incompleto         3784
Pós-Graduação               2318
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2012**

In [71]:
ano = 2012
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'IDADE', 'TP_SEXO', 'COD_MUNICIPIO_INSC',
       'NO_MUNICIPIO_INSC', 'UF_INSC', 'ST_CONCLUSAO', 'ANO_CONCLUIU',
       'TP_ESCOLA', 'IN_TP_ENSINO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'IN_UNIDADE_HOSPITALAR', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA',
       'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_AUTISMO', 'IN_SABATISTA', 'IN_BRAILLE',
       'IN_AMPLIADA', 'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO',
       'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_CERTIFICADO', 'NO_ENTIDADE_CERTIFICACAO',
       'UF_ENTIDADE_CERTIFICACAO', 'PK_COD_ENTIDADE', 'COD_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'UF_ESC', 'ID_DEPENDENCIA_ADM',
       'ID_LOCALIZACAO', 'SIT_FUNC', 'COD_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'UF_MUNICIPIO_PROVA', 'IN_PRESENCA_CN',
       'IN_PRESENCA_CH', 'IN_PRESENCA_LC', 'IN_PRESENCA_MT', 'NU_NT_CN',
       'NU_NT_CH', 'NU_NT_LC', 'NU_NT_MT', 'TX_RESPOSTAS_CN',
       'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT',
       'ID_PROVA_CN', 'ID_PROVA_CH', 'ID_PROVA_LC', 'ID_PROVA_MT',
       'TP_LINGUA', 'DS_GABARITO_CN', 'DS_GABARITO_CH', 'DS_GABARITO_LC',
       'DS_GABARITO_MT', 'IN_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'IN_QSE', 'Q01', 'Q02', 'Q03', 'Q04', 'Q05',
       'Q06', 'Q07', 'Q08', 'Q09', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
       'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23',
       'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32',
       'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41',
       'Q42', 'Q43', 'Q44', 'Q45', 'Q46', 'Q47', 'Q48', 'Q49', 'Q50',
       'Q51', 'Q52', 'Q53', 'Q54', 'Q55', 'Q56', 'Q57', 'Q58', 'Q59',
       'Q60', 'Q61', 'Q62'], dtype=object)

In [72]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'IDADE', 'TP_SEXO','TP_COR_RACA',
       'COD_MUNICIPIO_INSC', 'NO_MUNICIPIO_INSC',
       'COD_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'UF_INSC',
       'UF_ESC', 'ID_DEPENDENCIA_ADM',
       'ID_LOCALIZACAO', 
       'TP_LINGUA',
       'NU_NT_CN','NU_NT_CH','NU_NT_LC','NU_NT_MT',
       'IN_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q01','Q02','Q04','Q03','Q16','Q10','Q17','IN_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [73]:
enem_ano.rename(columns = {'Q01':'Q1', 
                           'Q02':'Q2',
                           'Q04':'Q5',
                           'Q03':'Q6',
                           'Q16':'Q22',
                           'Q10':'Q24',
                           'Q17':'Q25',
                           'COD_MUNICIPIO_INSC':'CO_MUNICIPIO_RESIDENCIA', 
                           'NO_MUNICIPIO_INSC':'NO_MUNICIPIO_RESIDENCIA',
                           'UF_INSC':'SG_UF_RESIDENCIA',
                           'COD_MUNICIPIO_ESC':'CO_MUNICIPIO_ESC',
                            'UF_ESC': 'SG_UF_ESC', 
                           'ID_DEPENDENCIA_ADM': 'TP_DEPENDENCIA_ADM_ESC' ,
                           'ID_LOCALIZACAO':'TP_LOCALIZACAO_ESC',
                            'NU_NT_CN':'NU_NOTA_CN',
                           'NU_NT_CH':'NU_NOTA_CH',
                           'NU_NT_LC':'NU_NOTA_LC',
                           'NU_NT_MT':'NU_NOTA_MT',
                           'IN_STATUS_REDACAO':'TP_STATUS_REDACAO',
                           'IDADE':'NU_IDADE'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'IN_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2012 = enem_ano
enem_2012.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE  TP_SEXO  ...  Q24 Q22 Q25  NU_NOTA_OBJETIVA
0  400000000007    2012        20        0  ...    A   B   B               NaN
1  400000000028    2012        23        0  ...    D   A   D               NaN
2  400000000035    2012        31        1  ...    D   C   A               NaN
3  400000000053    2012        27        0  ...    A   A   A               NaN
4  400000000086    2012        19        1  ...    A   C   A               NaN

[5 rows x 34 columns]

In [74]:
enem_2012['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2012['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [75]:
enem_2012['Q1'].value_counts()

Fundamental Incompleto     48070
Ensino Médio Completo      22560
Fundamental Completo       19842
Sem Estudo                 18078
Superior Completo           9213
NI                          9207
Ensino Médio Incompleto     7433
Superior Incompleto         4310
Pós-Graduação               2803
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2013**

In [76]:
ano = 2013
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'COD_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'COD_UF_RESIDENCIA', 'UF_RESIDENCIA',
       'IN_ESTUDA_CLASSE_HOSPITALAR', 'COD_ESCOLA', 'COD_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'COD_UF_ESC', 'UF_ESC',
       'ID_DEPENDENCIA_ADM_ESC', 'ID_LOCALIZACAO_ESC', 'SIT_FUNC_ESC',
       'IDADE', 'TP_SEXO', 'NACIONALIDADE', 'COD_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'COD_UF_NASCIMENTO', 'UF_NASCIMENTO',
       'ST_CONCLUSAO', 'ANO_CONCLUIU', 'TP_ESCOLA', 'IN_TP_ENSINO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA',
       'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_AUTISMO', 'IN_SABATISTA', 'IN_BRAILLE',
       'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO',
       'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL',
       'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA',
       'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_CERTIFICADO',
       'UF_ENTIDADE_CERTIFICACAO', 'COD_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'COD_UF_PROVA', 'UF_PROVA', 'IN_PRESENCA_CN',
       'IN_PRESENCA_CH', 'IN_PRESENCA_LC', 'IN_PRESENCA_MT',
       'ID_PROVA_CN', 'ID_PROVA_CH', 'ID_PROVA_LC', 'ID_PROVA_MT',
       'NOTA_CN', 'NOTA_CH', 'NOTA_LC', 'NOTA_MT', 'TX_RESPOSTAS_CN',
       'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT',
       'TP_LINGUA', 'GABARITO_CN', 'GABARITO_CH', 'GABARITO_LC',
       'GABARITO_MT', 'IN_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030',
       'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046',
       'Q047', 'Q048', 'Q049', 'Q050', 'Q051', 'Q052', 'Q053', 'Q054',
       'Q055', 'Q056', 'Q057', 'Q058', 'Q059', 'Q060', 'Q061', 'Q062',
       'Q063', 'Q064', 'Q065', 'Q066', 'Q067', 'Q068', 'Q069', 'Q070',
       'Q071', 'Q072', 'Q073', 'Q074', 'Q075', 'Q076'], dtype=object)

In [77]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'IDADE', 'TP_SEXO','TP_COR_RACA',
       'COD_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'COD_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC','COD_ESCOLA', 
       'COD_UF_RESIDENCIA', 'UF_RESIDENCIA',
        'UF_ESC', 'ID_DEPENDENCIA_ADM_ESC',
       'ID_LOCALIZACAO_ESC',
       'TP_LINGUA',
       'NOTA_CN','NOTA_CH','NOTA_LC','NOTA_MT',
       'IN_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001','Q002','Q004','Q003','Q016','Q010','Q017','IN_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [78]:
enem_ano.rename(columns = {'Q001':'Q1', 
                           'Q002':'Q2',
                           'Q004':'Q5',
                           'Q003':'Q6',
                           'Q016':'Q22',
                           'Q010':'Q24',
                           'Q017':'Q25',
                           'COD_MUNICIPIO_RESIDENCIA':'CO_MUNICIPIO_RESIDENCIA', 
                           'COD_UF_RESIDENCIA':'CO_UF_RESIDENCIA',
                            'UF_RESIDENCIA':  'SG_UF_RESIDENCIA',
                           'COD_MUNICIPIO_ESC':'CO_MUNICIPIO_ESC',
                           'COD_ESCOLA':'CO_ESCOLA',
                           'UF_ESC': 'SG_UF_ESC', 
                           'ID_DEPENDENCIA_ADM': 'TP_DEPENDENCIA_ADM_ESC' ,
                           'ID_LOCALIZACAO_ESC':'TP_LOCALIZACAO_ESC',
                           'NOTA_CN':'NU_NOTA_CN',
                           'NOTA_CH':'NU_NOTA_CH',
                           'NOTA_LC':'NU_NOTA_LC',
                           'NOTA_MT':'NU_NOTA_MT',
                           'IN_STATUS_REDACAO':'TP_STATUS_REDACAO',
                           'IDADE':'NU_IDADE',
                           'ID_DEPENDENCIA_ADM_ESC':'TP_DEPENDENCIA_ADM_ESC'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'IN_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})

enem_2013 = enem_ano
enem_2013.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q22  Q25 NU_NOTA_OBJETIVA
0  130005702876    2013                  2516201  ...   A    D          459.850
1  130005702912    2013                  2504009  ...   D    D              NaN
2  130005702925    2013                  2503209  ...   B    A          377.100
3  130005702986    2013                  2507507  ...   B    A              NaN
4  130005703066    2013                  2507507  ...   D    D          443.075

[5 rows x 36 columns]

In [79]:
enem_2013['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2013['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [80]:
enem_2013['Q1'].value_counts()

Fundamental Incompleto     62840
Ensino Médio Completo      30739
Fundamental Completo       26987
Sem Estudo                 22933
NI                         12742
Superior Completo          12035
Ensino Médio Incompleto    10027
Superior Incompleto         5553
Pós-Graduação               3474
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2014**

In [81]:
ano = 2014
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'COD_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'COD_UF_RESIDENCIA', 'UF_RESIDENCIA',
       'IN_ESTUDA_CLASSE_HOSPITALAR', 'COD_ESCOLA', 'COD_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'COD_UF_ESC', 'UF_ESC',
       'ID_DEPENDENCIA_ADM_ESC', 'ID_LOCALIZACAO_ESC', 'SIT_FUNC_ESC',
       'IDADE', 'TP_SEXO', 'NACIONALIDADE', 'COD_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'COD_UF_NASCIMENTO', 'UF_NASCIMENTO',
       'ST_CONCLUSAO', 'ANO_CONCLUIU', 'TP_ESCOLA', 'IN_TP_ENSINO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA',
       'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_AUTISMO', 'IN_SABATISTA', 'IN_BRAILLE',
       'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO',
       'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL',
       'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA',
       'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'COD_UF_ENTIDADE_CERTIFICACAO',
       'UF_ENTIDADE_CERTIFICACAO', 'COD_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'COD_UF_PROVA', 'UF_PROVA', 'IN_PRESENCA_CN',
       'IN_PRESENCA_CH', 'IN_PRESENCA_LC', 'IN_PRESENCA_MT',
       'ID_PROVA_CN', 'ID_PROVA_CH', 'ID_PROVA_LC', 'ID_PROVA_MT',
       'NOTA_CN', 'NOTA_CH', 'NOTA_LC', 'NOTA_MT', 'TX_RESPOSTAS_CN',
       'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT',
       'TP_LINGUA', 'GABARITO_CN', 'GABARITO_CH', 'GABARITO_LC',
       'GABARITO_MT', 'IN_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030',
       'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046',
       'Q047', 'Q048', 'Q049', 'Q050', 'Q051', 'Q052', 'Q053', 'Q054',
       'Q055', 'Q056', 'Q057', 'Q058', 'Q059', 'Q060', 'Q061', 'Q062',
       'Q063', 'Q064', 'Q065', 'Q066', 'Q067', 'Q068', 'Q069', 'Q070',
       'Q071', 'Q072', 'Q073', 'Q074', 'Q075', 'Q076'], dtype=object)

In [82]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'IDADE', 'TP_SEXO','TP_COR_RACA',
       'COD_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'COD_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC','COD_ESCOLA', 
       'COD_UF_RESIDENCIA', 'UF_RESIDENCIA',
        'UF_ESC', 'ID_DEPENDENCIA_ADM_ESC',
       'ID_LOCALIZACAO_ESC',
       'TP_LINGUA',
       'NOTA_CN','NOTA_CH','NOTA_LC','NOTA_MT',
       'IN_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001','Q002','Q004','Q003','Q016','Q010','Q017','IN_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', usecols=selecionadas_ano);

In [83]:
enem_ano.rename(columns = {'Q001':'Q1', 
                           'Q002':'Q2',
                           'Q004':'Q5',
                           'Q003':'Q6',
                           'Q016':'Q22',
                           'Q010':'Q24',
                           'Q017':'Q25',
                           'COD_MUNICIPIO_RESIDENCIA':'CO_MUNICIPIO_RESIDENCIA', 
                           'COD_UF_RESIDENCIA':'CO_UF_RESIDENCIA',
                           'UF_RESIDENCIA':  'SG_UF_RESIDENCIA',
                           'COD_MUNICIPIO_ESC':'CO_MUNICIPIO_ESC',
                           'COD_ESCOLA':'CO_ESCOLA',
                           'UF_ESC': 'SG_UF_ESC', 
                           'ID_DEPENDENCIA_ADM': 'TP_DEPENDENCIA_ADM_ESC' ,
                           'ID_LOCALIZACAO_ESC':'TP_LOCALIZACAO_ESC',
                           'NOTA_CN':'NU_NOTA_CN',
                           'NOTA_CH':'NU_NOTA_CH',
                           'NOTA_LC':'NU_NOTA_LC',
                           'NOTA_MT':'NU_NOTA_MT',
                           'IN_STATUS_REDACAO':'TP_STATUS_REDACAO',
                           'IDADE':'NU_IDADE',
                           'ID_DEPENDENCIA_ADM_ESC':'TP_DEPENDENCIA_ADM_ESC'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'IN_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2014 = enem_ano
enem_2014.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q22  Q25 NU_NOTA_OBJETIVA
0  140000000090    2014                  2507507  ...   C    A          474.300
1  140000000098    2014                  2504009  ...   A    A          508.875
2  140000000165    2014                  2507507  ...   B    A          535.425
3  140000000179    2014                  2504009  ...   A    D          428.200
4  140000000187    2014                  2507507  ...   C    B          463.375

[5 rows x 36 columns]

In [84]:
enem_2014['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)
enem_2014['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Incompleto','G':'Superior Completo','H':'Pós-Graduação', 'I': 'NI'}, inplace=True)

In [85]:
enem_2014['Q1'].value_counts()

Fundamental Incompleto     77901
Ensino Médio Completo      37074
Fundamental Completo       33329
Sem Estudo                 29305
NI                         16717
Superior Completo          13622
Ensino Médio Incompleto    12060
Superior Incompleto         6589
Pós-Graduação               4291
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2015**

In [86]:
ano = 2015
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_TREINEIRO', 'CO_ESCOLA',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'NU_IDADE', 'TP_SEXO', 'TP_NACIONALIDADE',
       'CO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_NASCIMENTO',
       'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR',
       'IN_SABATISTA', 'IN_OUTRA_DEF', 'IN_SEM_RECURSO', 'IN_NOME_SOCIAL',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL',
       'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA',
       'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_MACA', 'IN_COMPUTADOR',
       'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECÃ\x8dFICO', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO',
       'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030',
       'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046',
       'Q047', 'Q048', 'Q049', 'Q050'], dtype=object)

In [87]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO','TP_COR_RACA',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'TP_LINGUA',
       'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001','Q002','Q005','Q006','Q022','Q024','Q025','TP_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',', usecols=selecionadas_ano);

In [88]:
enem_ano.rename(columns = {'Q001':'Q1', 
                           'Q002':'Q2',
                           'Q005':'Q5',
                           'Q006':'Q6',
                           'Q022':'Q22',
                           'Q024':'Q24',
                           'Q025':'Q25'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'TP_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2015 = enem_ano
enem_2015.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q24  Q25 NU_NOTA_OBJETIVA
0  150000000281    2015                  2507507  ...   A    B          552.875
1  150000000602    2015                  2507507  ...   B    B          586.600
2  150000000268    2015                  2507507  ...   B    B          666.575
3  150000000390    2015                  2504009  ...   B    B          555.150
4  150000000499    2015                  2507507  ...   B    B          592.125

[5 rows x 37 columns]

In [89]:
enem_2015['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)
enem_2015['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)

In [90]:
enem_2015['Q1'].value_counts()

Fundamental Incompleto     58201
Ensino Médio Completo      41359
Fundamental Completo       29410
Sem Estudo                 21698
Ensino Médio Incompleto    21218
NI                         15534
Superior Completo          10857
Pós-Graduação               5768
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2016**

In [91]:
ano = 2016
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_SABATISTA',
       'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO',
       'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE',
       'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO',
       'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL',
       'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA',
       'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_MACA', 'IN_COMPUTADOR',
       'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO',
       'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030',
       'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046',
       'Q047', 'Q048', 'Q049', 'Q050'], dtype=object)

In [92]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO','TP_COR_RACA',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'TP_LINGUA',
       'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001','Q002','Q005','Q006','Q022','Q024','Q025','TP_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',', usecols=selecionadas_ano);

In [93]:
enem_ano.rename(columns = {'Q001':'Q1', 
                           'Q002':'Q2',
                           'Q005':'Q5',
                           'Q006':'Q6',
                           'Q022':'Q22',
                           'Q024':'Q24',
                           'Q025':'Q25'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'TP_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2016 = enem_ano
enem_2016.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q24  Q25 NU_NOTA_OBJETIVA
0  160000301384    2016                  2507507  ...   B    B          554.075
1  160000427455    2016                  2510808  ...   B    B              NaN
2  160000434201    2016                  2505501  ...   B    A          453.850
3  160000434247    2016                  2513703  ...   B    B          607.925
4  160000440939    2016                  2507507  ...   B    B          605.925

[5 rows x 37 columns]

In [94]:
enem_2016['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)
enem_2016['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)

In [95]:
enem_2016['Q1'].value_counts()

Fundamental Incompleto     65579
Ensino Médio Completo      44336
Fundamental Completo       31257
Sem Estudo                 24372
Ensino Médio Incompleto    23154
NI                         16863
Superior Completo          11497
Pós-Graduação               5862
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2017**

In [96]:
ano = 2017
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [97]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO','TP_COR_RACA',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'TP_LINGUA',
       'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001','Q002','Q005','Q006','Q022','Q024','Q025','TP_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',', usecols=selecionadas_ano);

In [98]:
enem_ano.rename(columns = {'Q001':'Q1', 
                           'Q002':'Q2',
                           'Q005':'Q5',
                           'Q006':'Q6',
                           'Q022':'Q22',
                           'Q024':'Q24',
                           'Q025':'Q25'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'TP_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2017 = enem_ano
enem_2017.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q24  Q25 NU_NOTA_OBJETIVA
0  170001665535    2017                  2503704  ...   B    B          534.525
1  170001674433    2017                  2504504  ...   B    B          538.575
2  170001664251    2017                  2515500  ...   B    B          480.000
3  170003333567    2017                  2507507  ...   B    B          468.150
4  170001663675    2017                  2500403  ...   A    B          459.325

[5 rows x 37 columns]

In [99]:
enem_2017['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)
enem_2017['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)

In [100]:
enem_2017['Q1'].value_counts()

Fundamental Incompleto     57481
Ensino Médio Completo      36952
Fundamental Completo       26554
Sem Estudo                 21128
Ensino Médio Incompleto    18872
NI                         14242
Superior Completo           9624
Pós-Graduação               5023
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2018**

In [101]:
ano = 2018
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [102]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO','TP_COR_RACA',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'TP_LINGUA',
       'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001','Q002','Q005','Q006','Q022','Q024','Q025','TP_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',', usecols=selecionadas_ano);

In [103]:
enem_ano.rename(columns = {'Q001':'Q1', 
                           'Q002':'Q2',
                           'Q005':'Q5',
                           'Q006':'Q6',
                           'Q022':'Q22',
                           'Q024':'Q24',
                           'Q025':'Q25'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'TP_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2018 = enem_ano
enem_2018.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q24  Q25 NU_NOTA_OBJETIVA
0  180007239581    2018                  2507507  ...   B    B          507.850
1  180008895630    2018                  2508307  ...   A    B          522.375
2  180008309641    2018                  2513604  ...   B    B          661.150
3  180008411490    2018                  2507507  ...   A    A          519.400
4  180008895652    2018                  2504009  ...   A    B          479.525

[5 rows x 37 columns]

In [104]:
enem_2018['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)
enem_2018['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)

In [105]:
enem_2018['Q1'].value_counts()

Fundamental Incompleto     45123
Ensino Médio Completo      30681
Fundamental Completo       20914
Sem Estudo                 16425
Ensino Médio Incompleto    14446
NI                         10987
Superior Completo           8594
Pós-Graduação               4879
Name: Q1, dtype: int64

###**SELEÇÃO E RENOMEAÇÃO 2019**

In [106]:
ano = 2019
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',',encoding='ISO-8859-1', nrows=0);
enem_ano.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [107]:
selecionadas_ano = ['NU_INSCRICAO', 'NU_ANO', 'NU_IDADE', 'TP_SEXO','TP_COR_RACA',
       'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'TP_LINGUA',
       'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001','Q002','Q005','Q006','Q022','Q024','Q025','TP_PRESENCA_MT']
enem_ano = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/DadosEnem/enem_{ano}_PB.csv',sep=',', usecols=selecionadas_ano);

In [108]:
enem_ano.rename(columns = {'Q001':'Q1', 
                           'Q002':'Q2',
                           'Q005':'Q5',
                           'Q006':'Q6',
                           'Q022':'Q22',
                           'Q024':'Q24',
                           'Q025':'Q25'}, inplace = True)

# FAZENDO UMA GAMBIARRA AQUI, CRIANDO O TP_PRESENCA A PARTIR DO DADO DO TP_PRESENCA_MT, q é no segundo dia.
enem_ano.rename({'TP_PRESENCA_MT':'TP_PRESENCA'}, axis=1, inplace=True)

# CALCULANDO A MEDIA 

enem_ano["NU_NOTA_OBJETIVA"] = enem_ano[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)
enem_ano["NU_NOTA_OBJETIVA"] = enem_ano["NU_NOTA_OBJETIVA"].replace({0:np.nan})


enem_2019 = enem_ano
enem_2019.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q24  Q25 NU_NOTA_OBJETIVA
0  190001037515    2019                  2507507  ...   B    B              NaN
1  190001125426    2019                  2504009  ...   A    B              NaN
2  190001141066    2019                  2516607  ...   C    B           678.55
3  190001141273    2019                  2502409  ...   A    B              NaN
4  190001165087    2019                  2514503  ...   A    B              NaN

[5 rows x 37 columns]

In [109]:
enem_2019['Q1'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)
enem_2019['Q2'].replace({'A':'Sem Estudo','B':'Fundamental Incompleto','C':'Fundamental Completo','D':'Ensino Médio Incompleto', 
                          'E':'Ensino Médio Completo','F':'Superior Completo','G':'Pós-Graduação', 'H': 'NI'}, inplace=True)

In [110]:
enem_2019['Q1'].value_counts()

Fundamental Incompleto     43353
Ensino Médio Completo      30014
Fundamental Completo       20743
Sem Estudo                 15597
Ensino Médio Incompleto    13983
NI                         10558
Superior Completo           8660
Pós-Graduação               4872
Name: Q1, dtype: int64

In [111]:
enem_2019.shape

(147780, 37)

In [112]:
###**Organizando Número de pessoas na família que está com números e nomes de níveis diferentes**
enem_1998['Q5'].replace({'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':'NaN'}, inplace=True) 
enem_1999['Q5'].replace({'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':'NaN'}, inplace=True)
enem_2000['Q5'].replace({'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':'NaN'}, inplace=True)
enem_2001['Q5'].replace({'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':'NaN'}, inplace=True)
enem_2002['Q5'].replace({'G':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':'NaN'}, inplace=True)
enem_2003['Q5'].replace({'G':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':'NaN'}, inplace=True)
enem_2004['Q5'].replace({'G':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':'NaN'}, inplace=True)
enem_2005['Q5'].replace({'G':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':'NaN'}, inplace=True)
enem_2006['Q5'].replace({'G':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':'NaN'}, inplace=True)
enem_2007['Q5'].replace({'G':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':'NaN'}, inplace=True)
enem_2008['Q5'].replace({'G':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':'NaN'}, inplace=True)
enem_2009['Q5'].replace({'F':1,'A':2,'B':3,'C':4,'D':5,'E':'NaN'}, inplace=True)
enem_2010['Q5'].replace({'A':'NaN','B':'NaN','C':'NaN','D':'NaN','E':'NaN'}, inplace=True)  # NÃO USAR 2010, ESTÁ POR INTERVALOS, MUITO DIFERENTE
#2011 A 2019 VAI DE 0 A 20, FICA OK SE SUBSTITUIR O >6 POR NULL

In [137]:
###**Organizando da Renda que está com números e nomes de níveis diferentes**
# Padronizado por números de salários mínimos
enem_1998['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_1999['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2000['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2001['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2002['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2003['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2004['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'Nan', '*':'Nan'}, inplace=True) 
enem_2005['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2006['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2007['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2008['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2009['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2010['Q6'].replace({'A':'<1','B':'1-2','C':'2-5','D':'5-10','E':'10-30','F':'>30','G':'>30','H':'Nenhum','.':'NaN', '*':'NaN'}, inplace=True) 

enem_2011['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2012['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2013['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2014['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2015['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2016['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2017['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2018['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'NaN', '*':'NaN'}, inplace=True) 
enem_2019['Q6'].replace({'A':'Nenhum','B':'<1','C':'1-2','D':'1-2','E':'2-5','F':'2-5','G':'2-5','H':'2-5',
                         'I':'5-10','J':'5-10','K':'5-10','L':'5-10','M':'5-10',
                         'N':'10-30','O':'10-30','P':'10-30','Q':'>30','.':'nan', '*':'nan'}, inplace=True)

In [138]:
enem_2011['Q6'].unique()

array(['1-2', 'Nenhum', '<1', '2-5', '5-10'], dtype=object)

# **CONCATENANDO** (ENEM 1998-2019) =====================================


2.   CONFERIR OS NÍVELS DAS VARIÁVEIS RESPOSTA (Q)
      EX. renda em salário mínimo
      Várias delas tem níveis diferentes, conferir e corrigir
3. Dar uma conferida geral, nos tipos de variáveis, nomes, se tá tudo ok

In [139]:
resultado = pd.concat([enem_2019, enem_1998], ignore_index=True, sort=False) #Coloquei o 2019 na frente pra ficar na ordem de 2019
resultado = pd.concat([resultado, enem_1999], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2000], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2001], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2002], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2003], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2004], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2005], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2006], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2007], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2008], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2009], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2010], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2011], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2012], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2013], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2014], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2015], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2016], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2017], ignore_index=True, sort=False)
resultado = pd.concat([resultado, enem_2018], ignore_index=True, sort=False)
resultado.reset_index(drop=True)

         NU_INSCRICAO  NU_ANO  ...  Q25 NU_NOTA_OBJETIVA
0        190001037515    2019  ...    B              NaN
1        190001125426    2019  ...    B              NaN
2        190001141066    2019  ...    B          678.550
3        190001141273    2019  ...    B              NaN
4        190001165087    2019  ...    B              NaN
...               ...     ...  ...  ...              ...
1911767  180013062156    2018  ...    B          528.125
1911768  180013960636    2018  ...    B          481.250
1911769  180013945015    2018  ...    B          567.725
1911770  180013953320    2018  ...    B              NaN
1911771  180013945034    2018  ...    A              NaN

[1911772 rows x 37 columns]

In [140]:
resultado.rename(columns = {'Q1': 'Escolaridade_Pai',
                           'Q2':'Escolaridade_Mae',
                           'Q5':'NPessoas',
                           'Q6':'Renda',
                           'Q22':'Celular',
                           'Q24': 'Computador',
                           'Q25':'Internet'}, 
                inplace = True)

###**Organizando algumas variávels que estão com números e nomes de níveis diferentes**

In [149]:
# Variaveis: Possui Celular Q22, Computador Q24 e Internet Q25
resultado['Celular'].replace({'A':0,'B':1,'C':1,'D':1,'E':1}, inplace=True)
resultado['Computador'].replace({'A':0,'B':1,'C':1,'D':1,'E':1, 'F':1, 2.0:1,3.0:1,4.0:1,5.0:1, 0.0:0, '1':1,'0':0,'0.0':0, 
                          '2':1,'3':1,'4':1,'5':1}, inplace=True)
resultado['Internet'].replace({'A':0,'B':1,'C':1,'D':1, 2.0:1,3.0:1,4.0:1,5.0:1}, inplace=True)

TypeError: ignored

In [158]:
# media geral
resultado["NU_NOTA_OBJETIVA"] = resultado['NU_NOTA_OBJETIVA'].round(1)
resultado["NU_MEDIA_GERAL"] = resultado[['NU_NOTA_OBJETIVA','NU_NOTA_REDACAO']].mean(axis=1).round(1)

**Mundando os tipos de variáveis**

In [161]:
resultado.CO_MUNICIPIO_ESC = pd.to_numeric(resultado.CO_MUNICIPIO_ESC, errors='coerce')
resultado.TP_DEPENDENCIA_ADM_ESC = pd.to_numeric(resultado.TP_DEPENDENCIA_ADM_ESC, errors='coerce')
resultado.TP_LOCALIZACAO_ESC = pd.to_numeric(resultado.TP_LOCALIZACAO_ESC, errors='coerce')
resultado.NU_NOTA_CN = pd.to_numeric(resultado.NU_NOTA_CN, errors='coerce')
resultado.NU_NOTA_CH = pd.to_numeric(resultado.NU_NOTA_CH, errors='coerce')
resultado.NU_NOTA_LC = pd.to_numeric(resultado.NU_NOTA_LC, errors='coerce')
resultado.NU_NOTA_MT = pd.to_numeric(resultado.NU_NOTA_MT, errors='coerce')
resultado.TP_LINGUA = pd.to_numeric(resultado.TP_LINGUA, errors='coerce')
resultado.NU_NOTA_COMP1 = pd.to_numeric(resultado.NU_NOTA_COMP1, errors='coerce')
resultado.NU_NOTA_COMP2 = pd.to_numeric(resultado.NU_NOTA_COMP2, errors='coerce')
resultado.NU_NOTA_COMP3 = pd.to_numeric(resultado.NU_NOTA_COMP3, errors='coerce')
resultado.NU_NOTA_COMP4 = pd.to_numeric(resultado.NU_NOTA_COMP4, errors='coerce')
resultado.NU_NOTA_COMP5 = pd.to_numeric(resultado.NU_NOTA_COMP5, errors='coerce')
resultado.NU_NOTA_REDACAO = pd.to_numeric(resultado.NU_NOTA_REDACAO, errors='coerce')
resultado.NPessoas = pd.to_numeric(resultado.NPessoas, errors='coerce')
resultado.Celular = pd.to_numeric(resultado.Celular, errors='coerce')
resultado.Computador = pd.to_numeric(resultado.Computador, errors='coerce')
resultado.Internet = pd.to_numeric(resultado.Internet, errors='coerce')

In [162]:
resultado.dtypes # variaveis q deveriam ser numericas são objeto

NU_INSCRICAO                 int64
NU_ANO                       int64
CO_MUNICIPIO_RESIDENCIA    float64
NO_MUNICIPIO_RESIDENCIA     object
CO_UF_RESIDENCIA           float64
SG_UF_RESIDENCIA            object
NU_IDADE                   float64
TP_SEXO                     object
TP_COR_RACA                float64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_PRESENCA                float64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                  float64
TP_STATUS_REDACAO           object
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Escolaridade_Pai            object
Escolaridade_Mae            object
NPessoas                   float64
Renda                       object
Celular                    float64
Computador                 float64
Internet                   float64
NU_NOTA_OBJETIVA           float64
NU_MEDIA_GERAL             float64
dtype: object

#**Ajustes dos Municípios**

In [163]:
resultado.NO_MUNICIPIO_RESIDENCIA = resultado.NO_MUNICIPIO_RESIDENCIA.str.upper()

In [165]:
tabela = resultado.copy()
tabela.NO_MUNICIPIO_RESIDENCIA.replace('.', 'AMPARO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('AGUA BRANCA', 'ÁGUA BRANCA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('ALGODAO DE JANDAIRA', 'ALGODÃO DE JANDAÍRA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('ARACAGI', 'ARAÇAGI', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('AROEIRA', 'AROEIRAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('AREIA DE BARAUNAS', 'AREIA DE BARAÚNAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('ASSUNCAO', 'ASSUNÇÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('BAIA DA TRAICAO', 'BAÍA DA TRAIÇÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('BARAUNA', 'BARAÚNA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('BARRA DE SAO MIGUEL', 'BARRA DE SÃO MIGUEL', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('BELEM', 'BELÉM', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('BELEM DO BREJO DO CRUZ', 'BELÉM DO BREJO DO CRUZ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('BONITO DE SANTA FE', 'BONITO DE SANTA FÉ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('BOQUEIRAO', 'BOQUEIRÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CAAPORA', 'CAAPORÃ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CABACEIRA', 'CABACEIRAs', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CACHOEIRA DOS INDIOS', 'CACHOEIRA DOS ÍNDIOS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CACIMBA', 'CACIMBAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CAICARA', 'CAIÇARA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CABACEIRAs', 'CABACEIRAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CALDAS BRANDAO', 'CALDAS BRANDÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CAMALAU', 'CAMALAÚ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CAMPINA  GRANDE', 'CAMPINA GRANDE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CAMPINAGRANDE', 'CAMPINA GRANDE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CARAUBAS', 'CARAÚBAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CATOLE DO ROCHA', 'CATOLÉ DO ROCHA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CATURITE', 'CATURITÉ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CONCEICAO', 'CONCEIÇÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CRUZ DO ESPIRITO SANTO', 'CRUZ DO ESPÍRITO SANTO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CUITE', 'CUITÉ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('CUITE DE MAMANGUAPE', 'CUITÉ DE MAMANGUAPE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('DAMIAO', 'DAMIÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('DONA INES', 'DONA INÊS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('ESPERANCA', 'ESPERANÇA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('GALANTE (CAMPINA GRANDE)', 'CAMPINA GRANDE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('GURINHEM', 'GURINHÉM', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('GURJAO', 'GURJÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('INGA', 'INGÁ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JACARAU', 'JACARAÚ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JAO PESSOA', 'JOÃO PESSOA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JOA PESSOA', 'JOÃO PESSOA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JOAO', 'JOÃO PESSOA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JOAO  PESSOA', 'JOÃO PESSOA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JOAO PESOA', 'JOÃO PESSOA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JOAO PESSO', 'JOÃO PESSOA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JOAO PESSOA', 'JOÃO PESSOA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JERICO', 'JERICÓ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JUAREZ TAVORA', 'JUAREZ TÁVORA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JUNCO DO SERIDO', 'JUNCO DO SERIDÓ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('JERICO', 'JERICÓ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('MAE D AGUA', "MÃE D'ÁGUA", inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace("MAE D'AGUA", "MÃE D'ÁGUA", inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('MANAIRA', 'MANAÍRA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('MARCACAO', 'MARCAÇÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('MARIZOPOLIS', 'MARIZÓPOLIS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('MATUREIA', 'MATURÉIA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('NOSSA SENHORA DO LIVRAMENTO (SANTA RIT', 'SANTA RITA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('OLHO D AGUA', "OLHO D'AGUA", inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace("OLHO D'AGUA", "OLHO D'ÁGUA", inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PATO', 'PATOS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PEDRA LAVRAD', 'PEDRA LAVRADA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PEDRA DE FOGO', 'PEDRAS DE FOGO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PEDRO REGIS', 'PEDRO RÉGIS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PIANCO', 'PIANCÓ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PICUI', 'PICUÍ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PILOES', 'PILÕES', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('POMBA', 'POMBAL', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PILOEZINHOS', 'PILÕEZINHOS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('POCO DANTA', 'POÇO DANTAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('POCO DANTAS', 'POÇO DANTAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('POCO DE JOSE DE MOURA', 'POÇO DE JOSÉ DE MOURA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('PUXINANA', 'PUXINANÃ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('QUIXABÁ', 'QUIXABA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('REMIGIO', 'REMÍGIO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('RIACHA', 'RIACHÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('RIACHAO', 'RIACHÃO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('RIACHAO DO BACAMARTE', 'RIACHÃO DO BACAMARTE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('RIACHAO DO POCO', 'RIACHÃO DO POÇO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('RIACHO DE SANTO ANTON', 'RIACHO DE SANTO ANTÔNIO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('RIACHO DE SANTO ANTONIO', 'RIACHO DE SANTO ANTÔNIO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SALGADO DE SAO FELIX', 'SALGADO DE SÃO FÉLIX', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SANTA CECILIA', 'SANTA CECÍLIA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SANTA INES', 'SANTA INÊS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SANTA TEREZINHA', 'SANTA TERESINHA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SANTO ANDRE', 'SANTO ANDRÉ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAPE', 'SAPÉ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SERTAOZINHO', 'SERTÃOZINHO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SOLANEA', 'SOLÂNEA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SOSSÊGO', 'SOSSEGO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SUM', 'SUMÉ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SUME', 'SUMÉ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO BENTINHO', 'SÃO BENTINHO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO BENTO', 'SÃO BENTO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO DOMINGOS', 'SÃO DOMINGOS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO DOMINGOS DO CARIRI', 'SÃO DOMINGOS DO CARIRI', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO FRANCISCO', 'SÃO FRANCISCO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO GONCALO (SOUSA)', 'SOUSA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOAO DO CARIRI', 'SÃO JOÃO DO CARIRI', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOAO DO RIO DO PE', 'SÃO JOÃO DO RIO DO PEIXE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOAO DO RIO DO PEIXE', 'SÃO JOÃO DO RIO DO PEIXE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOAO DO TIGRE', 'SÃO JOÃO DO TIGRE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DA LAGOA TAP', 'SÃO JOSÉ DA LAGOA TAPADA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DA LAGOA TAPADA', 'SÃO JOSÉ DA LAGOA TAPADA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DA MATA (CAMPINA GRANDE)', 'CAMPINA GRANDE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DE CAIANA', 'SÃO JOSÉ DE CAIANA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DE ESPINHARAS', 'SÃO JOSÉ DE ESPINHARAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DE PIMANHAS', 'SÃO JOSÉ DE PIRANHAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DE PIRANHAS', 'SÃO JOSÉ DE PIRANHAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DE PIRANHAS', 'SÃO JOSÉ DE PIRANHAS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DE PRINCESA', 'SÃO JOSÉ DE PRINCESA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DO BONFIM', 'SÃO JOSÉ DO BONFIM', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DO BREJO DO CRUZ', 'SÃO JOSÉ DO BREJO DO CRUZ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DO SABUGI', 'SÃO JOSÉ DO SABUGI', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DOS CORDEIROS', 'SÃO JOSÉ DOS CORDEIROS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO JOSE DOS RAMOS', 'SÃO JOSÉ DOS RAMOS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO MAMEDE', 'SÃO MAMEDE', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO MIGUEL DE TAIPU', 'SÃO MIGUEL DE TAIPU', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO SEBASTIAO DE LAGOA DE ROCA', 'SÃO SEBASTIÃO DE LAGOA DE ROÇA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO SEBASTIAO DO UMBUZEIRO', 'SÃO SEBASTIÃO DO UMBUZEIRO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SAO VICENTE DO SERIDO', 'SÃO VICENTE DO SERIDÓ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('TAPEROA', 'TAPEROÁ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('TENORIO', 'TENÓRIO', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('UIRAUNA', 'UIRAÚNA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('VARZEA', 'VÁRZEA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('VARZEA NOVA (SANTA RITA)', 'SANTA RITA', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('VIEIROPOLIS', 'VIEIRÓPOLIS', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('ZABELE', 'ZABELÊ', inplace=True)
tabela.NO_MUNICIPIO_RESIDENCIA.replace('SUME', 'SUMÉ', inplace=True)

lista_para_drop = ['ALEXANDRIA', 'ALIANCA', 'ALTANEIRA', 'APARECIDA DE GOIANIA', 'ARACAJU','ARARUAMA', 'ARCOVERDE', 'ASSIS CHATEAUBRIAND', 'AURORA',
                   'BAIXIO', 'BARRO', 'BEBERIBE', 'BELO HORIZONTE', 'BELO JARDIM', 'BOITUVA', 'BOM JARDIM', 'BREJINHO', 'BREJO SANTO', 'CAICO','CAMPO DE SANTANA', 'CAMPO DO BRITO', 'CAMPO GRANDE',
                   'CAMPO REDONDO', 'CAMPOS DOS GOYTACAZES', 'CAMARAGIBE', 'CAMUTANGA', 'CARAPICUIBA', 'CARNAUBA DOS DANTAS', 'CARUARU', 'CENTRAL', 'CORONEL EZEQUIEL', 'CRATO', 'CURRAIS NOVOS', 'EQUADOR', 'FERRAZ DE VASCONCELOS',
                   'GAMA', 'GOIANA', 'GUARULHOS', 'IBIRANGA (ITAMBE)', 'ICO', 'IGARAPE MIRI', 'IPAUMIRIM', 'IRECE', 'ITABAIANINHA', 'ITAMBE', 'ITAPETIM', "ITAPORANGA D'AJUDA", 'ITAQUAQUECETUBA', 
                   'ITAU', 'JABOATAO DOS GUARARAPES', 'JACANA', 'JAGUARUANA', 'JARDIM DE PIRANHAS', 'JATAUBA', 'JATI', 'JOAO DIAS', 'JUAZEIRO DO NORTE', 'JUR', "LAGOA D'ANTA", 'LAPAO', 'LAVRAS DA MANGABEIRA',
                   'LUIS GOMES', 'MACAIBA', 'MACEIO', 'MISSAO VELHA', 'MONTANHAS', 'MOSSORO', 'NATAL', 'NHAMUNDA', 'NOVA CRUZ', "OLHO D'AGUA DAS CUNHAS", 'OLINDA', 'OROBO', 'OSASCO', 'OURO BRANCO', 
                   'PALMEIRA DOS INDIOS', 'PARANA', 'PARELHAS', 'PARNAMIRIM', 'PATU', 'PAU DOS FERROS', 'PAULO AFONSO', 'PEDREGAL', 'PRESIDENTE MEDICI', 'PETROLINA', 'PINHAO', 'PORTEIRAS', 'QUEDAS DO IGUACU', 'RECIFE',
                   'RIACHO DO MEIO (SAO JOSE DO EGITO)', 'RIBEIROPOLIS', 'RIO DE JANEIRO', 'RIO DO SALTO (CASCAVEL)', 'SALVADOR', 'SANTA CECILIA DE UMBUZEIRO', 'SANTA CRUZ DO CAPIBARIBE', 'SANTA CRUZ DO SUL', 'SANTAREM', 'SANTO ANTONIO', 'SERIDO', 
                   'SERRA DA RAIZ', 'SERRA NEGRA DO NORTE', 'SERRA TALHADA', 'SERRINHA DOS PINTOS', 'SERTANIA', 'SIMOES', 'SURUBIM', 'SAO BENTO DE POMBAL', 'SAO BENTO DO UNA', 'SAO BERNARDO DO CAMPO',
                   'SAO CAETANO DO SUL', 'SAO DOMINGOS DE POMBAL', 'SAO GONCALO', 'SAO JOAO DOS PATOS', 'SAO JOSE DO EGITO', 'SAO JOSE DOS CAMPOS', 'SAO MIGUEL', 'SAO PAULO', 'SAO PEDRO (SANTA CRUZ)', 
                   'SAO VICENTE (ITAPETIM)', 'SOLIDAO', 'SOROCABA', 'TABIRA', 'TABOLEIRO GRANDE', 'TANGARA', 'TENENTE ANANIAS', 'TEOFILO OTONI', 'TERESINA', 'TIMBAUBA', 'TUPARETAMA', 'UMARI', 'UMARIZAL', 'UPANEMA']

for i in lista_para_drop:
    tabela = tabela[tabela['NO_MUNICIPIO_RESIDENCIA'] != i]

print(tabela.NO_MUNICIPIO_RESIDENCIA.sort_values().unique())

['AGUIAR' 'ALAGOA GRANDE' 'ALAGOA NOVA' 'ALAGOINHA' 'ALCANTIL'
 'ALGODÃO DE JANDAÍRA' 'ALHANDRA' 'AMPARO' 'APARECIDA' 'ARARA' 'ARARUNA'
 'ARAÇAGI' 'AREIA' 'AREIA DE BARAÚNAS' 'AREIAL' 'AROEIRAS' 'ASSUNÇÃO'
 'BANANEIRAS' 'BARAÚNA' 'BARRA DE SANTA ROSA' 'BARRA DE SANTANA'
 'BARRA DE SÃO MIGUEL' 'BAYEUX' 'BAÍA DA TRAIÇÃO' 'BELÉM'
 'BELÉM DO BREJO DO CRUZ' 'BERNARDINO BATISTA' 'BOA VENTURA' 'BOA VISTA'
 'BOM JESUS' 'BOM SUCESSO' 'BONITO DE SANTA FÉ' 'BOQUEIRÃO' 'BORBOREMA'
 'BREJO DO CRUZ' 'BREJO DOS SANTOS' 'CAAPORÃ' 'CABACEIRAS' 'CABEDELO'
 'CACHOEIRA DOS ÍNDIOS' 'CACIMBA DE AREIA' 'CACIMBA DE DENTRO' 'CACIMBAS'
 'CAIÇARA' 'CAJAZEIRAS' 'CAJAZEIRINHAS' 'CALDAS BRANDÃO' 'CAMALAÚ'
 'CAMPINA GRANDE' 'CAPIM' 'CARAÚBAS' 'CARRAPATEIRA' 'CASSERENGUE'
 'CATINGUEIRA' 'CATOLÉ DO ROCHA' 'CATURITÉ' 'CONCEIÇÃO' 'CONDADO' 'CONDE'
 'CONGO' 'COREMAS' 'COXIXOLA' 'CRUZ DO ESPÍRITO SANTO' 'CUBATI' 'CUITEGI'
 'CUITÉ' 'CUITÉ DE MAMANGUAPE' 'CURRAL DE CIMA' 'CURRAL VELHO' 'DAMIÃO'
 'DESTERRO' 'DIAMANTE' 'DONA INÊS' 'DUAS ESTRADAS' 'EMAS' 'ESPERANÇA'
 'FAGUNDES' 'FREI MARTINHO' 'GADO BRAVO' 'GUARABIRA' 'GURINHÉM' 'GURJÃO'
 'IBIARA' 'IGARACY' 'IMACULADA' 'INGÁ' 'ITABAIANA' 'ITAPORANGA'
 'ITAPOROROCA' 'ITATUBA' 'JACARAÚ' 'JERICÓ' 'JOCA CLAUDINO' 'JOÃO PESSOA'
 'JUAREZ TÁVORA' 'JUAZEIRINHO' 'JUNCO DO SERIDÓ' 'JURIPIRANGA' 'JURU'
 'LAGOA' 'LAGOA DE DENTRO' 'LAGOA SECA' 'LASTRO' 'LIVRAMENTO' 'LOGRADOURO'
 'LUCENA' 'MALTA' 'MAMANGUAPE' 'MANAÍRA' 'MARCAÇÃO' 'MARI' 'MARIZÓPOLIS'
 'MASSARANDUBA' 'MATARACA' 'MATINHAS' 'MATO GROSSO' 'MATURÉIA' 'MOGEIRO'
 'MONTADAS' 'MONTE HOREBE' 'MONTEIRO' 'MULUNGU' "MÃE D'ÁGUA" 'NATUBA'
 'NAZAREZINHO' 'NOVA FLORESTA' 'NOVA OLINDA' 'NOVA PALMEIRA' "OLHO D'ÁGUA"
 'OLIVEDOS' 'OURO VELHO' 'PARARI' 'PASSAGEM' 'PATOS' 'PAULISTA'
 'PEDRA BRANCA' 'PEDRA LAVRADA' 'PEDRAS DE FOGO' 'PEDRO RÉGIS' 'PIANCÓ'
 'PICUÍ' 'PILAR' 'PILÕES' 'PILÕEZINHOS' 'PIRPIRITUBA' 'PITIMBU' 'POCINHOS'
 'POMBAL' 'POÇO DANTAS' 'POÇO DE JOSÉ DE MOURA' 'PRATA' 'PRINCESA ISABEL'
 'PUXINANÃ' 'QUEIMADAS' 'QUIXABA' 'REMÍGIO' 'RIACHO DE SANTO ANTÔNIO'
 'RIACHO DOS CAVALOS' 'RIACHÃO' 'RIACHÃO DO BACAMARTE' 'RIACHÃO DO POÇO'
 'RIO TINTO' 'SALGADINHO' 'SALGADO DE SÃO FÉLIX' 'SANTA CECÍLIA'
 'SANTA CRUZ' 'SANTA HELENA' 'SANTA INÊS' 'SANTA LUZIA' 'SANTA RITA'
 'SANTA TERESINHA' 'SANTANA DE MANGUEIRA' 'SANTANA DOS GARROTES'
 'SANTO ANDRÉ' 'SAPÉ' 'SERRA BRANCA' 'SERRA GRANDE' 'SERRA REDONDA'
 'SERRARIA' 'SERTÃOZINHO' 'SOBRADO' 'SOLEDADE' 'SOLÂNEA' 'SOSSEGO' 'SOUSA'
 'SUMÉ' 'SÃO BENTINHO' 'SÃO BENTO' 'SÃO DOMINGOS' 'SÃO DOMINGOS DO CARIRI'
 'SÃO FRANCISCO' 'SÃO JOSÉ DA LAGOA TAPADA' 'SÃO JOSÉ DE CAIANA'
 'SÃO JOSÉ DE ESPINHARAS' 'SÃO JOSÉ DE PIRANHAS' 'SÃO JOSÉ DE PRINCESA'
 'SÃO JOSÉ DO BONFIM' 'SÃO JOSÉ DO BREJO DO CRUZ' 'SÃO JOSÉ DO SABUGI'
 'SÃO JOSÉ DOS CORDEIROS' 'SÃO JOSÉ DOS RAMOS' 'SÃO JOÃO DO CARIRI'
 'SÃO JOÃO DO RIO DO PEIXE' 'SÃO JOÃO DO TIGRE' 'SÃO MAMEDE'
 'SÃO MIGUEL DE TAIPU' 'SÃO SEBASTIÃO DE LAGOA DE ROÇA'
 'SÃO SEBASTIÃO DO UMBUZEIRO' 'SÃO VICENTE DO SERIDÓ' 'TACIMA' 'TAPEROÁ'
 'TAVARES' 'TEIXEIRA' 'TENÓRIO' 'TRIUNFO' 'UIRAÚNA' 'UMBUZEIRO'
 'VIEIRÓPOLIS' 'VISTA SERRANA' 'VÁRZEA' 'ZABELÊ' 'ÁGUA BRANCA' nan]

In [167]:
municipios = pd.read_json('https://servicodados.ibge.gov.br/api/v1/localidades/estados/PB/municipios')
municipios.nome.sort_values().to_numpy()

array(['Aguiar', 'Alagoa Grande', 'Alagoa Nova', 'Alagoinha', 'Alcantil',
       'Algodão de Jandaíra', 'Alhandra', 'Amparo', 'Aparecida', 'Arara',
       'Araruna', 'Araçagi', 'Areia', 'Areia de Baraúnas', 'Areial',
       'Aroeiras', 'Assunção', 'Bananeiras', 'Baraúna',
       'Barra de Santa Rosa', 'Barra de Santana', 'Barra de São Miguel',
       'Bayeux', 'Baía da Traição', 'Belém', 'Belém do Brejo do Cruz',
       'Bernardino Batista', 'Boa Ventura', 'Boa Vista', 'Bom Jesus',
       'Bom Sucesso', 'Bonito de Santa Fé', 'Boqueirão', 'Borborema',
       'Brejo do Cruz', 'Brejo dos Santos', 'Caaporã', 'Cabaceiras',
       'Cabedelo', 'Cachoeira dos Índios', 'Cacimba de Areia',
       'Cacimba de Dentro', 'Cacimbas', 'Caiçara', 'Cajazeiras',
       'Cajazeirinhas', 'Caldas Brandão', 'Camalaú', 'Campina Grande',
       'Capim', 'Caraúbas', 'Carrapateira', 'Casserengue', 'Catingueira',
       'Catolé do Rocha', 'Caturité', 'Conceição', 'Condado', 'Conde',
       'Congo', 'Coremas', 'Coxixola', 'Cruz do Espírito Santo', 'Cubati',
       'Cuitegi', 'Cuité', 'Cuité de Mamanguape', 'Curral Velho',
       'Curral de Cima', 'Damião', 'Desterro', 'Diamante', 'Dona Inês',
       'Duas Estradas', 'Emas', 'Esperança', 'Fagundes', 'Frei Martinho',
       'Gado Bravo', 'Guarabira', 'Gurinhém', 'Gurjão', 'Ibiara',
       'Igaracy', 'Imaculada', 'Ingá', 'Itabaiana', 'Itaporanga',
       'Itapororoca', 'Itatuba', 'Jacaraú', 'Jericó', 'Joca Claudino',
       'João Pessoa', 'Juarez Távora', 'Juazeirinho', 'Junco do Seridó',
       'Juripiranga', 'Juru', 'Lagoa', 'Lagoa Seca', 'Lagoa de Dentro',
       'Lastro', 'Livramento', 'Logradouro', 'Lucena', 'Malta',
       'Mamanguape', 'Manaíra', 'Marcação', 'Mari', 'Marizópolis',
       'Massaranduba', 'Mataraca', 'Matinhas', 'Mato Grosso', 'Maturéia',
       'Mogeiro', 'Montadas', 'Monte Horebe', 'Monteiro', 'Mulungu',
       "Mãe d'Água", 'Natuba', 'Nazarezinho', 'Nova Floresta',
       'Nova Olinda', 'Nova Palmeira', "Olho d'Água", 'Olivedos',
       'Ouro Velho', 'Parari', 'Passagem', 'Patos', 'Paulista',
       'Pedra Branca', 'Pedra Lavrada', 'Pedras de Fogo', 'Pedro Régis',
       'Piancó', 'Picuí', 'Pilar', 'Pilões', 'Pilõezinhos', 'Pirpirituba',
       'Pitimbu', 'Pocinhos', 'Pombal', 'Poço Dantas',
       'Poço de José de Moura', 'Prata', 'Princesa Isabel', 'Puxinanã',
       'Queimadas', 'Quixaba', 'Remígio', 'Riacho de Santo Antônio',
       'Riacho dos Cavalos', 'Riachão', 'Riachão do Bacamarte',
       'Riachão do Poço', 'Rio Tinto', 'Salgadinho',
       'Salgado de São Félix', 'Santa Cecília', 'Santa Cruz',
       'Santa Helena', 'Santa Inês', 'Santa Luzia', 'Santa Rita',
       'Santa Teresinha', 'Santana de Mangueira', 'Santana dos Garrotes',
       'Santo André', 'Sapé', 'Serra Branca', 'Serra Grande',
       'Serra Redonda', 'Serra da Raiz', 'Serraria', 'Sertãozinho',
       'Sobrado', 'Soledade', 'Solânea', 'Sossêgo', 'Sousa', 'Sumé',
       'São Bentinho', 'São Bento', 'São Domingos',
       'São Domingos do Cariri', 'São Francisco',
       'São José da Lagoa Tapada', 'São José de Caiana',
       'São José de Espinharas', 'São José de Piranhas',
       'São José de Princesa', 'São José do Bonfim',
       'São José do Brejo do Cruz', 'São José do Sabugi',
       'São José dos Cordeiros', 'São José dos Ramos',
       'São João do Cariri', 'São João do Rio do Peixe',
       'São João do Tigre', 'São Mamede', 'São Miguel de Taipu',
       'São Sebastião de Lagoa de Roça', 'São Sebastião do Umbuzeiro',
       'São Vicente do Seridó', 'Tacima', 'Taperoá', 'Tavares',
       'Teixeira', 'Tenório', 'Triunfo', 'Uiraúna', 'Umbuzeiro',
       'Vieirópolis', 'Vista Serrana', 'Várzea', 'Zabelê', 'Água Branca'],
      dtype=object)

#**Salvando no Drive dados 1998-2019**

In [168]:
#tabela.to_csv('/content/drive/MyDrive/Colab Notebooks/DadosEnem/ENEM_PB_1998_2019.csv', index=False)

In [178]:
tabela

         NU_INSCRICAO  NU_ANO  ...  NU_NOTA_OBJETIVA NU_MEDIA_GERAL
0        190001037515    2019  ...               NaN            NaN
1        190001125426    2019  ...               NaN            NaN
2        190001141066    2019  ...             678.6          799.3
3        190001141273    2019  ...               NaN            NaN
4        190001165087    2019  ...               NaN            NaN
...               ...     ...  ...               ...            ...
1911767  180013062156    2018  ...             528.1          444.0
1911768  180013960636    2018  ...             481.2          240.6
1911769  180013945015    2018  ...             567.7          433.8
1911770  180013953320    2018  ...               NaN            NaN
1911771  180013945034    2018  ...               NaN            NaN

[1907892 rows x 38 columns]

#**Salvando MEDIA POR ESCOLA 1998-2019**

Reduzindo o banco de dados para ficar mais fácil de trabalhar

In [176]:
tabela.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_COR_RACA', 'CO_ESCOLA',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_PRESENCA',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2',
       'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Escolaridade_Pai', 'Escolaridade_Mae',
       'NPessoas', 'Renda', 'Celular', 'Computador', 'Internet',
       'NU_NOTA_OBJETIVA', 'NU_MEDIA_GERAL'], dtype=object)

In [181]:
ENEM_POR_ESCOLA_PB = tabela.groupby(by=['NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_COR_RACA', 'CO_ESCOLA',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_PRESENCA',
       'TP_LINGUA', 'TP_STATUS_REDACAO',
       'Escolaridade_Pai', 'Escolaridade_Mae',
       'NPessoas', 'Renda', 
       'Celular', 'Computador', 'Internet'])['NU_NOTA_OBJETIVA','NU_NOTA_REDACAO',
                                                                  'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
                                                                  'NU_NOTA_COMP1', 'NU_NOTA_COMP2','NU_NOTA_COMP3',
                                              'NU_NOTA_COMP4', 'NU_NOTA_COMP5'].agg(['mean', 'count']).reset_index()
#analise_por_anos.rename(columns = {'mean': 'MÉDIA', 'count':'INSCRITOS'}, inplace = True)
#tabela

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

In [183]:
#ENEM_POR_ESCOLA_PB.to_csv('/content/drive/MyDrive/Colab Notebooks/DadosEnem/ENEM_POR_ESCOLA_PB_1998-2019.csv', index=False)